<h4>ドキュメントに追加するファイルの選択</h4>

<p>
  <input type="radio" name="source" value="upload" checked="checked" /> ローカルファイルをアップロード: 
  <input type="file" name="target_file" />
  <br />
  10MB程度以上のファイルをアップロードしようとした場合、ブラウザやサーバの状況に
  よってはタイムアウトする可能性があります。その場合、下のチェックボックスを選択
  し、<a href="http://www.google.co.jp/search?q=webdav">WebDAV</a>に先にアップロー
  ドしたファイルから追加する機能を利用してください。
</p>

[% IF dav_file.defined %]
  <p>
    [% IF dav_file.keys.size == 0 %]
      WebDAV領域にファイルはありません。
    [% ELSE %]
      <input type="radio" name="source" value="dav" /> WebDAVに置いたファイルを利用 :
      <select name="dav_source">
        [% FOREACH item IN dav_file.keys %]
          <option value="[% item %]">[% item %] ([% SizeDisp(dav_file.$item) %])</option>
        [% END %]
      </select>
    [% END %]
  </p>
[% END %]

<p>
このファイルへのコメント: <input type="text" name="comment" value="" size="50">
</p>
