[% PROCESS global/header.html.tmpl
  page_title = "Select icon class to edit"
%]

<h3>Select icon class</h3>

<p>For ease of setting and listing, icons are organized into some icon 
classes by where they are used at or their targets.
First, please select one icon class from the followings. 
After selecting one, you can view a whole list of icons defined in the 
specified class, and begin to edit or add icons.</p>

<ul>
  <li><a href="editicon.cgi?class=table">Icons for general tables</a>
    (will be used in tables of [% terms.document %] or [% terms.path %])</li>
  <li><a href="editicon.cgi?class=mime">Icons per MIME type</a>
    (will be used as indicators for file types)</li>
</ul>


[% PROCESS global/footer.html.tmpl %]
