[% PROCESS global/header.html.tmpl
  page_title = "Add new icon entry"
%]
<script type="text/javascript">
<!--
function select_icon (target) {
  if (target == '') {return; }
  var input_icon = document.getElementById('current_icon');
  input_icon.src = 'skins/images/' + target;
  var input_target = document.getElementById('current_target');
  input_target.value = target;
}
// -->
</script>

<h3>Add new icon into [% target FILTER html %]</h3>

<p>List of avail icon images are listed below.
Click icon itself to select.</p>

<form method="POST" action="editicon.cgi">
  <input type="hidden" name="class" value="[% class FILTER html %]">
  <input type="hidden" name="icon" value="[% terms.icon_def %]" id="current_target">

  <ul>
    <li><label>Target extension: <input type="text" name="target"> (Like pdf, exe, doc)</label></li>
    <li>Icon: <img src="skins/images/[% terms.icon_def %]" id="current_icon" /></li>
    <li><label>Tool tip: <input type="text" name="tiphelp" size="150" value="[% icon_info.tiphelp FILTER html %]" /></label></li>
    <li>Status: <select name="enabled">
      <option value="1" selected="selected">Using</option>
      <option value="0">Not used</option>
      </select></li>
  </ul>
  <input type="submit" value="Add">
</form>

<h4>List of avail icon images</h4>

<div class="icon_disp">
  [%- FOREACH item = avail_icons %]
    <a href="javascript: select_icon('[% item FILTER js %]')"><img
      src="skins/images/[% item FILTER html %]"></a>
  [% END %]
</div>



[% PROCESS global/footer.html.tmpl %]
