[% PROCESS global/header.html.tmpl
  page_title = "Update icon definition"
%]
<script type="text/javascript">
<!--
function select_icon (target) {
  if (target == '') {return; }
  var input_icon = document.getElementById('current_icon');
  input_icon.src = 'skins/images/' + target;
  var input_target = document.getElementById('current_target');
  input_target.value = target;
}
// -->
</script>

<h3>Update information of icon in [% target FILTER html %]</h3>

<p>List of avail icon images are listed below.
Click icon itself to select.</p>

<form method="POST" action="editicon.cgi">
  <input type="hidden" name="class" value="[% class FILTER html %]">
  <input type="hidden" name="target" value="[% target FILTER html %]">
  <input type="hidden" name="icon" value="[% icon_info.value FILTER html %]" id="current_target">

  <ul>
    <li>Name: [% target FILTER html %]</li>
    <li>Icon: <img src="skins/images/[% icon_info.value %]" id="current_icon" /></li>
    <li>Tool tip: <input type="text" name="tiphelp" size="150" value="[% icon_info.tiphelp FILTER html %]" /></li>
    <li>Status: <select name="enabled">
      <option value="1" [% IF icon_info.enabled == '1' %]selected="selected"[% END %]>Used</option>
      <option value="0" [% IF icon_info.enabled == '0' %]selected="selected"[% END %]>Not used</option>
      </select></li>
  </ul>
  <input type="submit" value="Update">
</form>

<h4>List of avail icon images</h4>

<div class="icon_disp">
  [%- FOREACH item = avail_icons %]
    <a href="javascript: select_icon('[% item FILTER js %]')"><img
      src="skins/images/[% item FILTER html %]"></a>
  [% END %]
</div>



[% PROCESS global/footer.html.tmpl %]
