[% PROCESS global/header.html.tmpl
  page_title = "Select target icon to set"
%]

<h3>List of icons in class [% class %]</h3>

<p>Following icons are defined in class [% class %].
If you want to edit settings (selecting new icon or edit tool tips), 
click the target icon itself.</p>

<table class="icon_list">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Tool tip</th>
    <th>Icon name</th>
    <th></th>
  </tr>
  [% FOREACH icon = target.keys %]
    [% count = loop.count() %]
    <tr
      class="
        icon_[% icon %]
        [% count % 2 == 1 ? "row_odd" : "row_even" %]
       ">
      <td><a href="editicon.cgi?class=[% class FILTER html %]&amp;target=[% icon FILTER html %]"
        ><img src="skins/images/[% target.$icon.value FILTER html %]"
        title="[% target.$icon.tiphelp FILTER html %]"></a></td>
      <td>$icon</td>
      <td>[% target.$icon.tiphelp FILTER html %]</td>
      <td>[% target.$icon.value FILTER html %]</td>
      <td>[% IF target.$icon.enabled == 1 %]Used[% ELSE %]Not used[% END %]</td>
    </tr>
  [% END %]
</table>

[% IF class == 'mime' %]
<p>You also can <a href="editicon.cgi?class=mime&amp;method=new">add new definition</a>
instead of editing.</p>
[% END %]


[% PROCESS global/footer.html.tmpl %]
