[% PROCESS global/header.html.tmpl
  page_title = "アイコン設定ターゲット選択"
%]

<h3>[% class %]アイコン一覧</h3>

<p>クラス[% class %]には以下のアイコンが定義されています。
アイコンを選択しなおす、もしくはツールチップを編集する場合は
それぞれのアイコンをクリックしてください。</p>

<table class="icon_list">
  <tr>
    <th></th>
    <th>名前</th>
    <th>ツールチップ</th>
    <th>ファイル名</th>
    <th></th>
  </tr>
  [% FOREACH icon = target.keys %]
    [% count = loop.count() %]
    <tr
      class="
        icon_[% icon %]
        [% count % 2 == 1 ? "row_odd" : "row_even" %]
       ">
      <td><a href="editicon.cgi?class=[% class FILTER html %]&amp;target=[% icon FILTER html %]"
        ><img src="skins/images/[% target.$icon.value FILTER html %]"
        title="[% target.$icon.tiphelp FILTER html %]"></a></td>
      <td>$icon</td>
      <td>[% target.$icon.tiphelp FILTER html %]</td>
      <td>[% target.$icon.value FILTER html %]</td>
      <td>[% IF target.$icon.enabled == 1 %]有効[% ELSE %]無効[% END %]</td>
    </tr>
  [% END %]
</table>

[% IF class == 'mime' %]
<p>もしくは、<a href="editicon.cgi?class=mime&amp;method=new">定義を追加</a>
することも可能です。</p>
[% END %]


[% PROCESS global/footer.html.tmpl %]
