From: docsrv@psmt.kusastro.kyoto-u.ac.jp
To: [% emailto +%]
Subject: [PSMT/DocSrv] New document was added to your favorite directory
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
User-Agent: PSMT Document Server

　[%+ uname %] さま

　このメールは PSMT ドキュメントサーバからの自動通知メールです。
　返信しないでください。

　あなたがお気に入りに入れているディレクトリに、[% by %] により新しい
ドキュメントが追加されました。

　追加されたドキュメント
名前: [% path %][% newdoc.pathname +%]
説明: [% newdoc.description +%]
URL : https://psmt.kusastro.kyoto-u.ac.jp/docsrv/docinfo.cgi?did=[% newdoc.docid +%]
　追加されたファイル
形式: [% newfile.fileext +%]
説明: [% newfile.description +%]
日時: [% newfile.uptime +%]
URL : https://psmt.kusastro.kyoto-u.ac.jp/docsrv/fileinfo.cgi?fid=[% newfile.fileid +%]

-- 
PSMT Document Server System
https://psmt.kusastro.kyoto-u.ac.jp/docsrv/
