[% PROCESS global/header.html.tmpl
  page_title = "List of configuration"
%]

<h3>List of configuration for : [% type %]</h3>

<ul>
  [% FOREACH hid IN jsondata.keys %]<li>
    [% IF (hid == "gname") OR (hid == "labelid") OR (hid == "exts") %][% hid FILTER html %] : 
      [% FOREACH dat IN jsondata.$hid %][% dat FILTER html %], [% END %]
    [% ELSIF hid == "lastfile" %][% hid FILTER html %] : <ul>[% FOREACH hkey IN jsondata.$hid.keys %]
        <li>[% hkey FILTER html %] : [% jsondata.$hid.$hkey FILTER html %]</li>
      [% END %]</ul>
    [% ELSE %]
      [% hid FILTER html %] : [% jsondata.$hid FILTER html %]
    [% END %]
  </li>[% END %]
</ul>

[% PROCESS global/footer.html.tmpl %]
