[% PROCESS global/header.html.tmpl
  page_title = "ファイルアクセスログ"
%]

<h3>ファイル ID [% id %] へのアクセスログ</h3>

<table border="1">
<thead>
  <tr>
    <th>[% terms.file %] ID</th><th>ユーザ名</th>
    <th>日時</th><th>アクセス元</th>
  </tr>
</thead>
<tbody>
  [% FOREACH query = jsondata %]
  <tr>
    <td>[% query.fileid %]</td><td>[% query.uname %]</td>
    <td>[% query.dltime %]</td><td>[% query.srcip FILTER ipaddr %]</td>
  </tr>
  [% END %]
</tbody>
</table>

[% PROCESS global/footer.html.tmpl %]
