<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    [% IF Param.base_uri != '' %]
      <base href="[% Param.base_uri %]">
    [% END %]
    <title>[% page_title %] - [% terms.sitename %] (ver. [% constants.PSMT_DOCSRV_VERSION %])</title>
    [% FOREACH item = stylesheet %]
      <link rel="stylesheet" href="skins/[% item %]">
    [% END %]
    <link rel="stylesheet" href="skins/jquery/jquery-ui-1.11.4/jquery-ui.css">
    <link rel="stylesheet" href="skins/global.css">

    <script type="text/javascript" src="skins/jquery/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="skins/jquery/jquery.cookie-1.4.1.js"></script>
    <script type="text/javascript" src="skins/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="skins/global.js"></script>
    [% FOREACH item = javascript %]
      <script src="skins/[% item %]"></script>
    [% END %]
    
  </head>
  <body
    [% IF onload.defined %]onload="[% onload %]"[% END %]
    [% IF bodyclass.defined AND bodyclass.size > 0 %]class="[% FOREACH item = bodyclass %][% item %][% END %]"[% END %]
    >

<div id="header">
  <div id="titles">
    <p id="sitename">[% terms.sitename %] (ver. [% constants.PSMT_DOCSRV_VERSION %])</p>
    <p id="subtitle">
      [% IF page_title%][% page_title %]
        [% IF header_addl %]
          &mdash; <span id="header_addl">[% header_addl %]</span>
        [% END %]
      [% ELSE %]
        &nbsp;
      [% END %]
    </p>
  </div>
  <div id="gmenu">
    <ul class="links">
      [% FOREACH item = header_links %]
        [%- IF header_links_def.$item.defined %]
          [%- IF header_links_def.$item.group.defined AND
                (NOT InGroup(header_links_def.$item.group)) %]
            [%# must NOT display %]
          [%- ELSE %]
            <li>
              [%- IF NOT loop.first %]<span class="separator">|</span>[% END %]
              [%- IF item == current_page %]
                [% header_links_def.$item.name %]
              [%- ELSE %]
                <a href="[% header_links_def.$item.url %]">[% header_links_def.$item.name %]</a>
              [%- END %]
            </li>
          [%- END %]
        [%- END %]
      [%- END %]
    </ul>
    <ul class="account">
      <li><span class="target">User</span> <span class="data">[% User.uid %]</span></li>
      <li><span class="target">Groups</span> <span class="data">[% User.gid.join(',') %]</span></li>
      [% IF AdminGr %]
        <li><span class="data">(admin
          [% IF Admin %]<a onclick="set_admin('disable');">ENABLED</a>
          [% ELSE %]<a onclick="set_admin('enable');">DISABLED</a>[% END -%])</span></li>
      [% END %]
      <li><span class="target">Count of [% terms.favorite %]</span> <span class="data">[% User.favs.size %]</span></li>
    </ul>
  </div>
</div>

<div id="container">
[% PROCESS site_announce %]
