From: [% terms.admin %]
To: [% emailto +%]
Subject: New [% terms.document %] was added to your [% terms.favorite %] [% terms.path %]
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
User-Agent: [% terms.sitedomain %]

　[%+ uname %] さま

　このメールは [% terms.sitename %] ドキュメントサーバ
からの自動通知メールです。
　このメールには返信しないでください。

　あなたが [% terms.favorite %] に入れている [% terms.path %] に、[% by %] により新しい
[% terms.document %] が追加されました。

　追加された [% terms.document %]
名前: [% path %][% newdoc.filename +%]
説明: [% newdoc.description +%]
URL : [% Param.base_uri %]docinfo.cgi?did=[% newdoc.docid +%]
　追加された [% terms.file %]
形式: [% newfile.fileext +%]
説明: [% newfile.description +%]
日時: [% newfile.uptime +%]
URL : [% Param.base_uri %]fileinfo.cgi?fid=[% newfile.fileid +%]

-- 
[% terms.sitename %] Document Server System
[% Param.base_uri %]
