From: [% Param.admin_email %]
To: [% emailto +%]
Subject: New [% terms.file %] was added [% IF ! ispush.defined %]to your [% terms.favorite %] [% terms.document %][% END %]
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
User-Agent: [% terms.sitedomain %]

　[%+ uname %] さま

　このメールは [% terms.sitename %] ドキュメントサーバ
からの自動通知メールです。
　返信しないでください。

　[% IF ! ispush.defined %]あなたが [% terms.favorite %] に入れている[% END %] [% terms.document %] に、[% by %] により新しい [% terms.file %] が追加されました。

　追加された [% terms.file %]
形式: [% newfile.fileext +%]
説明: [% newfile.description +%]
日時: [% newfile.uptime +%]
URL : [% Param.base_uri %]fileinfo.cgi?fid=[% newfile.fileid +%]

　追加場所は "[% path %][% target.filename %]" です。

-- 
[% terms.sitename %] Document Server System
[% Param.base_uri %]
