From: [% terms.admin %]
To: [% emailto +%]
Subject: New [% terms.file %] was added to your [% terms.favorite %] [% terms.document %]
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
User-Agent: [% terms.sitedomain %]

　[%+ uname %] さま

　このメールは [% terms.sitename %] ドキュメントサーバ
からの自動通知メールです。
　返信しないでください。

　あなたが [% terms.favorite %] に入れている [% terms.document %] に、[% by %] により新しい
[% terms.file %] が追加されました。

　追加された [% terms.file %]
形式: [% newfile.fileext +%]
説明: [% newfile.description +%]
日時: [% newfile.uptime +%]
URL : [% terms.baseurl %]fileinfo.cgi?fid=[% newfile.fileid +%]

　追加場所は "[% path %][% target.filename %]" です。

-- 
[% terms.sitename %] Document Server System
[% terms.baseurl %]
