From: [% Param.admin_email %]
To: [% emailto +%]
Subject: ([% terms.sitename %]) PASSWORD NOTIFICATION
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
User-Agent: [% terms.sitedomain %]

  [%+ uid %] さま

　このメールは PSMT ドキュメントサーバからの自動通知メールです。
　返信しないでください。

　ダウンロードされたファイル ([% fname %]) のパスワードは以下になります。

[% pass %]

-- 
[% terms.sitename %] Document Server System
[% Param.base_uri %]
