From: [% terms.admin %]
To: [% emailto +%]
Subject: New [% terms.document %] was added to your [% terms.favorite %] [% terms.path %]
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
User-Agent: [% terms.sitedomain %]

  Dear, [%+ uname %]

  This e-mail is an automatical notification from the document server system 
on [% terms.sitename %].
  Please do not reply to thi e-mail.

  A new [% terms.document %] has added to the [% terms.path %] in your [% terms.favorite %]
by user [% by %].

  New added [% terms.document %]
Name       : [% path %][% newdoc.filename +%]
Description: [% newdoc.description +%]
URL        : [% Param.base_uri %]docinfo.cgi?did=[% newdoc.docid +%]

  New added [% terms.file %]
Format     : [% newfile.fileext +%]
Description: [% newfile.description +%]
When       : [% newfile.uptime +%]
URL        : [% Param.base_uri %]fileinfo.cgi?fid=[% newfile.fileid +%]

-- 
[% terms.sitename %] Document Server System
[% Param.base_uri %]
