From: [% Param.admin_email %]
To: [% emailto +%]
Subject: New [% terms.file %] was added to your [% terms.favorite %] [% terms.document %]
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
User-Agent: [% terms.sitedomain %]

  Dear, [%+ uname %]

  This e-mail is an automatical notification from the document server system 
on [% terms.sitename %].
  Please do not reply to thi e-mail.

  A new [% terms.file %] has added to the [% terms.document %] in your [% terms.favorite %]
by user [% by %].

  New added [% terms.file %] into "[% path %][% target.filename %]"
Format     : [% newfile.fileext +%]
Description: [% newfile.description +%]
When       : [% newfile.uptime +%]
URL        : [% Param.base_uri %]fileinfo.cgi?fid=[% newfile.fileid +%]

-- 
[% terms.sitename %] Document Server System
[% Param.base_uri %]
