From: [% terms.admin %]
To: [% emailto +%]
Subject: New [% terms.directory %] was added to your [% terms.favorite %] [% terms.directory %]
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
User-Agent: [% terms.sitedomain %]

  Dear, [%+ uname %]

  This e-mail is an automatical notification from the document server system 
on [% terms.sitename %].
  Please do not reply to thi e-mail.

  A new [% terms.directory %] has added to the [% terms.directory %] in your [% terms.favorite %]
by user [% by %].

  New added [% terms.directory %] into "[% path %]"
Name         : [% newpath.pathname +%]
Description  : [% newpath.description +%]
URL          : [% Param.base_uri %]pathinfo.cgi?pid=[% newpath.pathid +%]

-- 
[% terms.sitename %] Document Server System
[% Param.base_uri %]
