From: [% Param.admin_email %]
To: [% emailto +%]
Subject: New [% terms.path %] was added [% IF ! ispush.defined %]to your [% terms.favorite %] [% terms.path %][% END %]
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
User-Agent: [% terms.sitedomain %]

  Dear, [%+ uname %]

  This e-mail is an automatical notification from the document server system 
on [% terms.sitename %].
  Please do not reply to thi e-mail.

  A new [% terms.path %] has added [% IF ! ispush.defined %]to the [% terms.path %] in your [% terms.favorite %][% END %]
by user [% by %].

  New added [% terms.path %] into "[% path %]"
Name         : [% newpath.pathname +%]
Description  : [% newpath.short_description FILTER text +%]
URL          : [% Param.base_uri %]pathinfo.cgi?pid=[% newpath.pathid +%]

-------
[% newpath.description FILTER text +%]
-------

-- 
[% terms.sitename %] Document Server System
[% Param.base_uri %]
