body {
    background-color: #FF8E4E;
}

#header {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    margin-bottom: 1em;
    background-color: #FFD8CB;
}

#header #titles {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    margin: 0px;
    padding: 0.5em;
    list-style-type: none;

    clear: both;
}

#titles #sitename {
    width: 60%;
    float: left;
    margin: 5px;
}

#titles #subtitle {
    text-align: right;
    margin: 5px;
}

#titles #header_addl {
    text-align: right;
    margin: 5px;
}

#header ul.links {
    margin: 0px 5px 0px 5px;
    padding: 0px;
    width: 45%;
    float: left;
}

#header ul.account {
    margin: 0px 5px 0px 5px;
    padding: 0px;
    text-align: right;
}

#header #gmenu {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    margin: 0px;
    padding: 0.5em;
    list-style-type: none;
    clear: both;
}

#header #gmenu ul li {
    display: inline;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
}

#header .target {
    color: gray;
}

#header .data {
    font-weight: bolder;
}

footer {
    margin-top: 1em;
}

#container {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-color: #F3F3F3;
    padding: 0.5em;
}

#debug_output {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-color: #D4D4D4;
    margin-top: 2em;
    padding: 0.5em;
}

tr.row_odd {
    background-color: #F7F7F7;
    color: #000000;
}

tr.row_even {
    background-color: #FFFFFF;
    color: #000000;
}

.favlist {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

.favlist .docid {
    text-align: center;
}

td.docsize {
    text-align: right;
}

.favlist .docfav_rm {
    text-align: center;
}

.dirlist {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

.dirlist .docmanage {
    text-align: center;
    white-space: nowrap;
}

.labellist {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

td.center {
    text-align: center;
}

th.description {
    width: 40%;
}

#error .errico {
    float: left;
    margin: 1em;
}

#error .desc {
    margin: 0px;
    padding: 1em;
}

#error .info {
    clear: both;
    border: ridge 5px red;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    padding: 1.5em;
}

.activity {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

.activity td {
    text-align: center;
}

.ui_hidden {
    display: none;
}

.ui_clickable {
    text-decoration: underline;
}

a img {
    border-width: 1px;
    border-color: transparent;
}

table.icon_list {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

div.icon_disp {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

table.config {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

div.markdown {
    width: 90%;
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid #C3C3C3;
}

div.searchcond {
    width: 90%;
    margin-left: 3%;
    border: 1px solid #C3C3C3;
}

input.inputwide, 
textarea.inputwide {
    width: 90%;
}

