body {
    background-color: #FF8E4E;
}

#header {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    margin-bottom: 1em;
    background-color: #FFD8CB;
}

#header #titles {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    margin: 0px;
    padding: 0.5em;
    list-style-type: none;

    clear: both;
}

#titles #sitename {
    width: 60%;
    float: left;
    margin: 5px;
}

#titles #subtitle {
    text-align: right;
    margin: 5px;
}

#titles #header_addl {
    text-align: right;
    margin: 5px;
}

#header ul.links {
    margin: 0px 5px 0px 5px;
    padding: 0px;
    width: 45%;
    float: left;
}

#header ul.account {
    margin: 0px 5px 0px 5px;
    padding: 0px;
    text-align: right;
}

#header #gmenu {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    margin: 0px;
    padding: 0.5em;
    list-style-type: none;
    clear: both;
}

#header #gmenu ul li {
    display: inline;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
}

#header .target {
    color: gray;
}

#header .data {
    font-weight: bolder;
}

footer {
    margin-top: 1em;
}

#body {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-color: #F3F3F3;
    padding: 0.5em;
}

#debug_output {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-color: #D4D4D4;
    margin-top: 2em;
    padding: 0.5em;
}

tr.row_odd {
    background-color: #F7F7F7;
    color: #000000;
}

tr.row_even {
    background-color: #FFFFFF;
    color: #000000;
}

.favlist {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

.favlist .docid {
    text-align: center;
}

td.docsize {
    text-align: right;
}

.favlist .docfav_rm {
    text-align: center;
}

.dirlist {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

.labellist {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

td.center {
    text-align: center;
}


