<table class="activity">
  <tr>
    <th>[% terms.file %] ID</th>
    <th>User name</th>
    <th>DateTime</th>
    <th>Source IP Address</th>
  </tr>
  [% FOREACH query = activity %]
    <tr>
      <td>[% query.fileid %]</td>
      <td>[% query.uname %]</td>
      <td>[% query.dltime %]</td>
      <td>[% query.srcip FILTER ipaddr %]</td>
    </tr>
  [% END %]
</table>
