
<form action="pathadd.cgi" method="POST">
[% INCLUDE global/formopt.html.tmpl %]

<h3 id="path_add" class="ui_clickable">Add new [% terms.path %]</h3>
<script type="text/javascript">
  \$("#path_add").click(function(event) {tweak_ToggleClass('path_add', 'ui_hidden'); });
</script>

<div class="path_add">

<p><label>New [% terms.path %] name: <input type="text" name="newpath" value="" size="50"></label></p>
<p><label>Send notification to following email addresses:
<input type="text" name="demail" value="" size="50"> (comma separated email address)</label></p>
<p>Description (in markdown format)</p>
<div><textarea name="newdesc" value="" cols="150" rows="10"></textarea></div>

<p>If you turn on some groups, the [% terms.path %] will be restricted only to 
users who are listed at least in one checked groups. 
Without any, every user can view the [% terms.path %]. </p>

<ul>
[% FOREACH item = Group %]
  <li><label><input type="checkbox" name="newgroup" value="[% item %]">[% item %]</label></li>
[%- END %]
</ul>

<input type="hidden" name="cur_pid" value="[% cur_pid %]">
<input type="submit" value="Add new">
<input type="reset" value="Reset">
</div>
</form>

<script type="text/javascript">
  tweak_ToggleClass('path_add', 'ui_hidden');
</script>
