
<form action="pathadd.cgi" method="POST">
[% INCLUDE global/formopt.html.tmpl %]

<h3 id="path_add" class="ui_clickable">Add new [% terms.path %]</h3>
<script type="text/javascript">
  var path_add_disp = function() { tweak_ToggleClass('path_add', 'ui_hidden'); }
  YAHOO.util.Event.on('path_add', 'click', path_add_disp);
</script>

<div class="path_add">

<ul>
  <li>Name: <input type="text" name="newpath" value="" size="50"></li>
  <li>Description: <input type="text" name="newdesc" value="" size="50"></li>
</ul>

<p>If you turn on some groups, the [% terms.path %] will be restricted only to 
users who are listed at least in one checked groups. 
Without any, every user can view the [% terms.path %]. </p>

<ul>
[% FOREACH item = Group %]
  <li><input type="checkbox" name="newgroup" value="[% item %]">[% item %]</input></li>
[% END %]
</ul>

<input type="hidden" name="cur_pid" value="[% cur_pid %]">
<input type="submit" value="Add mew">
<input type="reset" value="Reset">
</form>
</div>

<script type="text/javascript">
  tweak_ToggleClass('path_add', 'ui_hidden');
</script>
