[% IF ! did.defined %]
  <ul>
    <li><label for="filename">Name for new [% terms.document %]:</label> <tt>
      [%- IF pid == -1 %]
        <select name="pid" id="pid"></select>/
        <script type="text/javascript"><!--
          SetPathSelect('pid', 0);
        --></script>
      [%- ELSE %]
        <input type="hidden" name="pid" value="[% path_info.pathid %]">
        /[% full_path FILTER html %]
      [%- END -%]
    </tt><input type="text" name="filename" value="" size="50"></li>
    <li><label>Set security flag (encrypt for download): <input type="checkbox" name="secure" /></label></li>
  </ul>
  <p><label for="docdesc">Description for new [% terms.document %] (in markdown format)</label></p>
  <div><textarea name="docdesc" rows="10" class="inputwide"></textarea></div>
  <h4>Labels for new [% terms.document %]</h4>
  <ul>
    [% FOREACH item = Label.keys %]
      <li><label><input type="checkbox" name="label" value="[% item %]" />
        [% Label.$item.name %] ([% Label.$item.description %])</label></li>
    [%- END %]
  </ul>
[% ELSE %]
  <input type="hidden" name="did" value="[% doc_info.docid %]">
[% END %]


<h4>Select file to add into this [% terms.document %]</h4>

<p>
  <label>
  <input type="radio" name="source" value="upload" checked="checked" /> Upload from local file:</label>
  <input type="file" name="target_file" size="80" />
  <br />
  If you try to upload a large file like over than 10MB, system sometimes cause 
  timeout depending on the conditions of network or server. 
  [% IF Param.dav_uri != "" %]
    If you get timeout, please try to upload into 
    <a href="[% Param.dav_uri %]">WebDAV</a>
    space first, and 
    select the file from selection below with checking on the check box below.
    (<a href="http://www.google.co.jp/search?q=webdav">About WebDAV</a>)
  [% END %]
</p>

[% IF dav_file.defined && Param.dav_uri != "" %]
  <p>
    [% IF dav_file.keys.size == 0 %]
      No file in the WebDAV space.
    [% ELSE %]
      <label>
      <input type="radio" name="source" value="dav" /> Use file in the WebDAV space :</label>
      <select name="dav_source">
        [% FOREACH item IN dav_file.keys %]
          <option value="[% item %]">[% item %] ([% SizeDisp(dav_file.$item) %])</option>
        [% END %]
      </select>
    [% END %]
  </p>
[% END %]

<p><label>Comment to this [% terms.file %]: <input type="text" name="comment" value="" size="80"></label></p>
<p>Information of new [% terms.file %]:
<ul>
  <li>Created by: <tt>[% User.uid FILTER html %]</tt></li>
  <li>DateTime: (DateTime of uploaded)</li>
  <li>Version: [% IF ! did.defined %]1.0<input type="hidden" name="version" value="1.0" />[% ELSE %]<input type="text" size="10" name="version" value="[% doc_info.next_version %]" />[% END %]</li>
</ul></p>

<h4>Notification</h4>

<p><label>Send notification to following email addresses:
<input type="text" name="demail" value="" size="50"><br />
Type multiple email addresses with comma (<b>,</b>) separated.</label></p>

