[%# List path sorted by alphabetical as option
  # allpathrev: from script  ($hash{fullpath} = pid)
  # allpath: from script ($hash{pid} = \%pathinfo)
  # pidsel: selected PID
  #%]
<option value="0" [% IF pidsel == 0 || pidsel == -1 %]selected="selected"[% END %]>/</option>
[% FOREACH hp IN allpathrev.keys.sort %]
  [% IF allpathrev.$hp.size > 1 %]
    [%- FOREACH hid IN allpathrev.$hp %]
      <option value="[% hid %]" [% IF hid == pidsel %]selected="selected"[% END %]>[% hp FILTER html %]</option>
    [%- END -%]
  [% ELSE %]
    <option value="[% allpathrev.$hp.0 %]" [% IF allpathrev.$hp.0 == pidsel %]selected="selected"[% END %]>[% hp FILTER html %]</option>
  [% END -%]
[%- END %]
