[% paths_exist = 1 IF paths.size > 0 %]
[% docs_exist = 1  IF docs.size > 0 %]
[% pop_list = [] %]

<table class="dirlist tablesorter">
<thead>
  <tr>
    <th rowspan="2"></th>
    <th rowspan="2">Name</th>
    <th rowspan="2">Description</th>
    <td colspan="4" class="tdhead">Latest</td>
    <th rowspan="2">Group</th>
    <th rowspan="2">Label</th>
  </tr>
  <tr>
    <th>Uploader</th>
    <th>Date</th>
    <th>Size</th>
    <th></th>
  </tr>
[% IF upper_path.defined AND upper_path > -1 %]
  <tr class="upper_path row_even">
    <td class="docmanage"></td>
    <td class="path">[% INCLUDE show_table_icon id = 'dir_up' %]
      <a href="pathinfo.cgi?pid=[% upper_path %]">Upper [% terms.path %]</a></td>
    <td></td>
    <td colspan="4"></td>
    <td>---</td>
    <td>---</td>
  </tr>
[% END %]
</thead>

<tbody>
[% FOREACH item IN paths %]
  [% count = loop.count() %]
  <tr 
    class="
      path_[% item.pathid %]
      [% count % 2 == 1 ? "row_odd" : "row_even" %]
     ">
    <td class="docmanage">
      [% IF InList(User.favs_path, item.pathid) %]
        <img id="fav_p[% item.pathid %]" class="fav_on" src="skins/images/default/woofunction_16_star.png">
      [% ELSE %]
        <img id="fav_p[% item.pathid %]" class="" src="skins/images/default/woofunction_16_star_off.png">
      [% END %]
      <a href="attribute.cgi?target=path&method=get&id=[% item.pathid %]">[% INCLUDE show_table_icon id = 'attribute' %]</a>
      <a onclick="download_path([% item.pathid %])">[% INCLUDE show_table_icon id = 'download' %]</a>
      </td>
    <td class="path">[% INCLUDE show_table_icon 
        id = 'dir' html_id = "path_${item.pathid}"
        title = "d_${item.pathname}" -%]
      [% pop_list.push("path_${item.pathid}") %]
      [%- IF cpname.defined %]
        <a href="path[% IF cpname != '' %]/[% cpname FILTER path_url %][% END %]/[% item.pathname FILTER path_url %]/">[% item.pathname FILTER html %]</a>
      [% ELSE %]
        <a href="pathinfo.cgi?pid=[% item.pathid %]">[% item.pathname FILTER html %]</a>
      [% END -%]
      </td>
    <td class="pathdesc">[% item.short_description FILTER html %]</td>
    <td></td><td></td><td></td>
    <td><a href="zipadd.cgi?pid=[% item.pathid %]">[% INCLUDE show_table_icon id = 'fileup' %]</a></td>
    <td class="group">
      [% IF item.gname.defined %][% item.gname.join(',') FILTER html %][% ELSE %]No restriction[% END %]
      <a href="pathgroup.cgi?pid=[% item.pathid %]">[% INCLUDE show_table_icon id = 'group_add' %]</a>
      </td>
    <td class="label"></td>
  </tr>
<script type="text/javascript">
  \$("#fav_p[% item.pathid %]").click(function(event) {tweak_ToggleFavPath('[% item.pathid %]'); });
</script>
[% END %]


[% FOREACH item IN docs %]
  [% count = loop.count() %]
  <tr 
    class="
      doc_[% item.docid %]
      [% count % 2 == 1 ? "row_odd" : "row_even" %]
     ">
    <td class="docmanage">
      [% IF InList(User.favs, item.docid) %]
        <img id="fav_[% item.docid %]" class="fav_on" src="skins/images/default/woofunction_16_star.png">
      [% ELSE %]
        <img id="fav_[% item.docid %]" class="" src="skins/images/default/woofunction_16_star_off.png">
      [% END %]
      <a href="attribute.cgi?target=doc&method=get&id=[% item.docid %]">[% INCLUDE show_table_icon id = 'attribute' %]</a>
      <a href="fileget.cgi?fid=[% item.lastfile.fileid %]">[% INCLUDE show_table_icon id = 'download' %]</a>
      </td>
    <td class="path">
      [%- INCLUDE show_mime_icon 
        id = item.lastfile.fileext
        html_id = "doc_${item.docid}" 
        title = "f_${item.filename}" -%]
      [% pop_list.push("doc_${item.docid}") %]
      <a href="docinfo.cgi?did=[% item.docid %]">[% item.filename FILTER html %]</a></td>
    <td class="pathdesc">[% item.short_description FILTER html %]</td>
    [% IF item.lastfile.defined %]
      <td>[% item.lastfile.uname %]</td>
      <td>[% item.lastfile.uptime %]</td>
      <td class="docsize">[% SizeDisp(item.lastfile.size) %]</td>
      <td><a href="docupdate.cgi?did=[% item.docid %]">[% INCLUDE show_table_icon id = 'fileup' %]</a></td>
    [% ELSE %]
      <td colspan="3" class="center">Not exists</td>
      <td><a href="docupdate.cgi?did=[% item.docid %]">[% INCLUDE show_table_icon id = 'fileup' %]</a></td>
    [% END %]
    <td class="group">
      [% IF item.gname.defined %]
      [% FOREACH gid = item.gname %][% IF NOT loop.first %], [% END %][% gid FILTER html %][% END %]
      [% ELSE %](none)[% END %]
      <a href="docgroup.cgi?did=[% item.docid %]">[% INCLUDE show_table_icon id = 'group_add' %]</a>
      </td>
    <td class="label">[% IF item.labelid.defined %]
      [% FOREACH lid = item.labelid %][% IF NOT loop.first %], [% END %][% Label.$lid.name FILTER html %][% END %]
      [% ELSE %]No label[% END %]
      <a href="doclabel.cgi?did=[% item.docid %]">[% INCLUDE show_table_icon id = 'label_add' %]</a>
      </td>
  </tr>
<script type="text/javascript">
  \$("#fav_[% item.docid %]").click(function(event) {tweak_ToggleFav('[% item.docid %]'); });
</script>
[% END %]

[% IF def_popup.defined %]
<div id="popup_dialog" title="Detailed information" class="ui_hidden"></div>
<div id="popup_dialog_path" title="Download all in path" class="ui_hidden"></div>
<script type="text/javascript" src="skins/table_popup.js"></script>
<script type="text/javascript">
[% FOREACH item IN pop_list %]
  \$("#[% item %]").click(function(event) {popup_jsoncall("[% item %]");});
[%- END %]
function download_path_close() {
  \$("#popup_dialog_path").dialog("close");
}
function download_path(pid) {
  var disptext = "";
  disptext += "<ul>";
  disptext += "<li><a href=\"dirget.cgi?pid=" + pid + "\" onclick=\"download_path_close()\">";
  disptext += "Download newest files</a></li>";
  disptext += "<li><a href=\"dirget.cgi?ext=ALL&pid=" + pid + "\" onclick=\"download_path_close()\">";
  disptext += "Download newest files of all extensions</a></li>";
  disptext += "<li><a href=\"dirget.cgi?ext=ALL&mode=all&pid=" + pid + "\" onclick=\"download_path_close()\">";
  disptext += "Download all files</a></li>";
  disptext += "</ul>";
  \$("#popup_dialog_path").dialog();
  \$("#popup_dialog_path").html(disptext);
}
</script>
[% END %]

</tbody>
</table>
