[% PROCESS global/header.html.tmpl %]

<h3>ファイル更新履歴</h3>

<p>(近い時間にアップロードされた)異なるタイプのファイルは、同じバージョンの
別形式のファイルとしてアップロードされている可能性があります。</p>

[% PROCESS entry/filelist.html.tmpl   files = file_list %]

<h3>ドキュメント情報</h3>

<form method="POST" action="docinfo.cgi">
<ul>
  <li>フルパス: <tt><a href="pathinfo.cgi?path=[% full_path %]">[% full_path %]</a></tt>
    <span id="doc_name_raw"><tt>[% doc_info.filename %]</tt></span>
    <span id="doc_name_edit" class="ui_hidden"><input type="text" size="50" name="docname" value="[% doc_info.filename %]"></span>
    [% IF InList(file_uname, User.uid) %]
      <span id="update_link"><a href="javascript: doc_info_update();">更新</a></span>
    [% END %]</li>
  <li>ファイルの説明:
    <span id="doc_desc_raw">[% doc_info.description FILTER html %]</span>
    <span id="doc_desc_edit" class="ui_hidden"><input type="text" size="100" name="description" value="[% doc_info.description FILTER html %]"></span>
    </li>
  <li>アクセス可能グループ: 
    [% IF group_list.size > 0 %][% group_list.join(', ') %]
    [% ELSE %](未定義)[% END %]</li>
  <li>ラベル: 
    [% IF doc_labels.size > 0 %]
      [% FOREACH item IN doc_labels %]
        [% IF NOT loop.first %], [% END %]
        <span title="[% Label.$item.description %]">[% Label.$item.name %]</span>
      [% END %]
    [% ELSE %](未定義)[% END %]
    <a href="doclabel.cgi?did=[% doc_info.docid %]">[% PROCESS show_table_icon id = 'label_add' %]</a>
    </li>
</ul>
<div id="doc_update" class="ui_hidden">
  <input type="submit" value="更新">
</div>
<input type="hidden" name="did" value="[% doc_info.docid %]">
</form>

<script type="text/javascript">
<!--
function doc_info_update () {
  YAHOO.util.Dom.addClass(document.getElementById('doc_name_raw'), 'ui_hidden');
  YAHOO.util.Dom.removeClass(document.getElementById('doc_name_edit'), 'ui_hidden');
  YAHOO.util.Dom.addClass(document.getElementById('doc_desc_raw'), 'ui_hidden');
  YAHOO.util.Dom.removeClass(document.getElementById('doc_desc_edit'), 'ui_hidden');
  YAHOO.util.Dom.removeClass(document.getElementById('doc_update'), 'ui_hidden');
  YAHOO.util.Dom.addClass(document.getElementById('update_link'), 'ui_hidden');
}
// -->
</script>

<h3>ファイルアクセスログ</h3>

[% PROCESS entry/activity.html.tmpl   activity = activity %]


[% PROCESS global/footer.html.tmpl %]
