[% PROCESS global/header.html.tmpl %]

[% IF added.defined %]
  <h3>'[% full_path FILTER html %][% doc_info.filename %]' にファイル
  [% added FILTER html %] が追加されました</h3>
[% ELSE %]
  <h3>新しいドキュメントの追加 - <tt>[% full_path %][% doc_info.filename %]</tt></h3>
  <form action="docupdate.cgi" method="POST" enctype="multipart/form-data">
    [% PROCESS global/formopt.html.tmpl %]
    [% INCLUDE entry/docform.html.tmpl %]
    <input type="hidden" name="did" value="[% doc_info.docid %]">
    <input type="submit" value="ドキュメント更新">
    <input type="reset" value="リセット">
  </form>
[% END %]

<hr>

<ul>
  <li>ドキュメントの説明: [% doc_info.description FILTER html %]</li>
  <li>アクセス可能グループ:
    [% IF group_list.size > 0 %][% group_list.join(', ') %]
    [% ELSE %](未定義)[% END %]</li>
</ul>

[% INCLUDE entry/filelist.html.tmpl   files = file_list %]

[% PROCESS global/footer.html.tmpl %]
