[% PROCESS global/header.html.tmpl %]

[% IF added.defined %]
<h3>Updated file added to document '[% full_path %][% doc_info.filename %]'</h3>
<p>New file : [% added %]</p>
[% END %]

<h3>General document informations</h3>

<ul>
  <li>Full name: <tt>[% full_path %][% doc_info.filename %]</tt></li>
  <li>Document ID: [% doc_info.docid %]</li>
  <li>Path ID: [% doc_info.pathid %]</li>
  <li>File name: [% doc_info.filename %]</li>
  <li>Description: [% doc_info.description %]</li>
  <li>Accessible groups: [% group_list.keys.join(', ') %] </li>
</ul>

<h3>Current file list</h3>

<ul>
  [% FOREACH item = file_list %]
    <li><a href="fileinfo.cgi?fid=[% item.fileid %]">[% item.fileid %]</a>: [% item.description %] (by [% item.uname %] at [% item.uptime %], from [% item.srcip FILTER ipaddr %])</li>
  [% END %]
</ul>

<hr>

<form action="docupdate.cgi" method="POST" enctype="multipart/form-data">
[% PROCESS global/formopt.html.tmpl %]

[% IF dav_file.defined %]
  <p>
    [% IF dav_file.keys.size == 0 %]
      No source file in DAV
    [% ELSE %]
      <input type="radio" name="source" value="dav" /> Use file from DAV source :
      <select name="dav_source">
        [% FOREACH item IN dav_file.keys %]
          <option value="[% item %]">[% item %] ([% dav_file.$item %] byte)</option>
        [% END %]
      </select>
    [% END %]
  </p>
[% END %]

<p>
  <input type="radio" name="source" value="upload" /> ローカルファイルを利用: 
  <input type="file" name="target_file" />
</p>



Comment: <input type="text" name="comment" value="" size="50"><br>
<input type="hidden" name="did" value="[% doc_info.docid %]">
<input type="submit" value="Update document">
<input type="reset" value="Reset">
</form>

[% PROCESS global/footer.html.tmpl %]
