[% PROCESS global/header.html.tmpl
  current_page = "index"
  page_title = "メインページ"
%]

<h3>[% terms.path %]リスト</h3>

[% INCLUDE entry/table.html.tmpl       paths = topdirs   docs = {} %]

<h3>最近更新された[% terms.document %]</h3>

[% INCLUDE entry/table.html.tmpl       paths = {}        docs = recent %]

<h3>あなたの [% terms.favorite %][% terms.document %]</h3>

[% INCLUDE favorite/table.html.tmpl    favlist = favs %]



[% PROCESS global/footer.html.tmpl %]
