[% PROCESS global/header.html.tmpl
  page_title = "Main Page"
%]

<h3>Your favorite documents</h3>

<table border="1">
  <tr>
    <th>Document ID</th>
    <th>Full name</th>
    <th>File name</th>
    <th>Description</th>
    <th>Un-fav</th>
  </tr>
[% FOREACH item IN favs.keys %]
  <tr>
    <td>[% favs.$item.docid %]</td>
    <td><tt>[% favs.$item.full_path %][% favs.$item.filename %]</tt></td>
    <td>[% favs.$item.filename %]</td>
    <td>[% favs.$item.description %]</td>
    <td><a href="docfav.cgi?did=[% favs.$item.docid %]&amp;op=remove">Un-fav</a></td>
  </tr>
[% END %]
</table>

<h3>Action Items on development</h3>

<ul>
  <li>My page for each user</li>
  <li>Label function</li>
  <li>Favorite (star) function</li>
  <li>Simple search</li>
</ul>

<h4>DONE</h4>

<ul>
  <li>Documnt listing in directory</li>
  <li>Document information page</li>
  <li>File download page with permission check</li>
  <li>File information page with access log</li>
  <li><a href="pathlist.cgi?pid=0">Directory listing</a></li>
  <li>Manage permissions for directory</li>
  <li>File register page (from webdav)</li>
  <li>Page to add document</li>
  <li><a href="labellist.cgi">Label list</a></li>
</ul>

<h3>Sample : id <tt>1</tt> / file id <tt>_CrNkGp9m8XnRhMZ3-PMtw</tt></h3>

<ul>
  <li><a href="pathinfo.cgi?pid=1">Path info</a>
  <li><a href="pathgroup.cgi?pid=1">Manage path permission</a>
  <li><a href="docadd.cgi?pid=1">Add new document to path #1</a>
  <li><a href="docupdate.cgi?did=1">Update new file to document</a>
  <li><a href="docinfo.cgi?did=1">Document info</a>
  <li><a href="fileinfo.cgi?fid=_CrNkGp9m8XnRhMZ3-PMtw">File info</a>
  <li><a href="fileget.cgi?fid=_CrNkGp9m8XnRhMZ3-PMtw">File get</a>
</ul>

[% PROCESS global/footer.html.tmpl %]
