[% PROCESS global/header.html.tmpl
  page_title = "Main Page"
%]

<h3>Action Items on development</h3>

<ul>
  <li>My page for each user</li>
  <li>File upload page</li>
</ul>

<h4>DONE</h4>

<ul>
  <li>Documnt listing in directory</li>
  <li>Document information page</li>
  <li>File download page with permission check</li>
  <li>File information page with access log</li>
  <li><a href="pathlist.cgi?pid=0">Directory listing</a></li>
  <li>Manage permissions for directory</li>
  <li>File register page (from webdav)</li>
</ul>

<h3>Sample : id <tt>1</tt> / file id <tt>_CrNkGp9m8XnRhMZ3-PMtw</tt></h3>

<ul>
  <li><a href="pathinfo.cgi?pid=1">Path info</a>
  <li><a href="pathgroup.cgi?pid=1">Manage path permission</a>
  <li><a href="docupdate.cgi?did=1">Update new file to document</a>
  <li><a href="docinfo.cgi?did=1">Document info</a>
  <li><a href="fileinfo.cgi?fid=_CrNkGp9m8XnRhMZ3-PMtw">File info</a>
  <li><a href="fileget.cgi?fid=_CrNkGp9m8XnRhMZ3-PMtw">File get</a>
</ul>

[% PROCESS global/footer.html.tmpl %]
