[% terms = {
    "sitename"       => "PSMT - 岡山望遠鏡プロジェクト - ドキュメントサーバ",

    "path"           => "ディレクトリ",
    "document"       => "ドキュメント",
    "file"           => "ファイル",
    "favorite"       => "お気に入り",
 }
%]
[% header_links_def = {
    "index"    => { "name" => "メインページ", "url" => "index.cgi" },
    "dir"      => { "name" => "トップディレクトリ", "url" => "pathinfo.cgi?pid=0" },
    "labels"   => { "name" => "ラベル一覧", "url" => "labellist.cgi"},
    "favs"     => { "name" => "$terms.favorite 一覧", "url" => "favlist.cgi"},
    "search"   => { "name" => "検索", "url" => "search.cgi"},
 }
%]
[% BLOCK site_announce %]
[% END %]

[% mime_icon_def = "skins/images/crystal_project-16/mimetypes/unknown.png" %]
[% mime_icons = {
    "bin"    => "skins/images/crystal_project-16/mimetypes/binary.png",
    "bmp"    => "skins/images/crystal_project-16/mimetypes/image.png",
    "deb"    => "skins/images/crystal_project-16/mimetypes/deb.png",
    "doc"    => "skins/images/crystal_project-16/mimetypes/doc.png",
    "dvi"    => "skins/images/crystal_project-16/mimetypes/dvi.png",
    "html"   => "skins/images/crystal_project-16/mimetypes/html.png",
    "htm"    => "skins/images/crystal_project-16/mimetypes/html.png",
    "java"   => "skins/images/crystal_project-16/mimetypes/java_src.png",
    "log"    => "skins/images/crystal_project-16/mimetypes/log.png",
    "ps"     => "skins/images/crystal_project-16/mimetypes/mime_postscript.png",
    "eps"    => "skins/images/crystal_project-16/mimetypes/mime_postscript.png",
    "pdf"    => "skins/images/crystal_project-16/mimetypes/pdf_document.png",
    "c"      => "skins/images/crystal_project-16/mimetypes/source_c.png",
    "cc"     => "skins/images/crystal_project-16/mimetypes/source_cpp.png",
    "h"      => "skins/images/crystal_project-16/mimetypes/source_h.png",
    "hh"     => "skins/images/crystal_project-16/mimetypes/source_h.png",
    "xls"    => "skins/images/crystal_project-16/mimetypes/spreadsheet.png",
    "ods"    => "skins/images/crystal_project-16/mimetypes/spreadsheet.png",
    "tar"    => "skins/images/crystal_project-16/mimetypes/tar.png",
    "tex"    => "skins/images/crystal_project-16/mimetypes/tex.png",
    "tgz"    => "skins/images/crystal_project-16/mimetypes/tgz.png",
    "txt"    => "skins/images/crystal_project-16/mimetypes/txt.png",
    "mpg"    => "skins/images/crystal_project-16/mimetypes/video.png",
    "mpeg"   => "skins/images/crystal_project-16/mimetypes/video.png",
    "zip"    => "skins/images/crystal_project-16/mimetypes/zip.png",
 }
%]