[% terms = {
    "sitename"       => "PSMT - 岡山望遠鏡プロジェクト - ドキュメントサーバ",
 }
%]
[% header_links_def = {
    "index"    => { "name" => "メインページ", "url" => "index.cgi" },
    "dir"      => { "name" => "トップディレクトリ", "url" => "pathlist.cgi?pid=0" },
    "labels"   => { "name" => "ラベル一覧", "url" => "labellist.cgi"},
 }
%]
[% BLOCK site_announce %]
[% END %]
