[% terms = {
    "sitename"       => "Document Server For PSMT",
 }
%]
[% header_links_def = {
    "index"    => { "name" => "Index", "url" => "index.cgi" },
 }
%]
[% BLOCK site_announce %]
[% END %]
