[% PROCESS global/header.html.tmpl %]

[% IF pid == 0 %]
  <p>ROOT PATH</p>
[% ELSE %]
  <ul>
    <li>Path ID: [% path_info.pathid %]</li>
    <li>Full path: [% full_path %]</li>
    <li>Parenet: [% path_info.parent %]</li>
    <li>Name: [% path_info.pathname %]</li>
    <li>Description: [% path_info.description %]</li>
    <li>Accessible groups: [% permission.keys.join(', ') %] </li>
  </ul>
[% END %]


<ul>
  [% FOREACH item = spath_list %]
    <li>[DIR] <a href="pathlist.cgi?pid=[% item.pathid %]">[% item.pathname %]</a>
      : [% item.description %]
      (Accessible groups: [% spath_access.${item.pathid}.keys.join(', ') %])</li>
  [% END %]
  [% FOREACH item = doc_list %]
    <li>[DOC] <a href="docinfo.cgi?did=[% item.docid %]">[% item.filename %]</a>
      ([% item.description %])</li>
  [% END %]
</ul>

[% PROCESS global/footer.html.tmpl %]
