[% PROCESS global/header.html.tmpl %]

<h3>Current avail groups</h3>
<ul>
  [% FOREACH item = all_groups %]
    <li>[% item %]</li>
  [% END %]
</ul>

<h3>Current directory setting</h3>
<ul>
  <li>Path ID: [% path_info.pathid %]</li>
  <li>Full path: [% full_path %]</li>
  <li>Parenet: [% path_info.parent %]</li>
  <li>Name: [% path_info.pathname %]</li>
  <li>Description: [% path_info.description %]</li>
  <li>Accessible groups: [% permission.join(', ') %] </li>
</ul>

<h3>Update</h3>
<form action="pathgroup.cgi" method="POST">
<p>
[% FOREACH item = all_groups %]
  <input type="checkbox" name="newgroup" value="[% item %]"
    [% IF permission.defined($item) %]checked="checked"[% END %]
    >[% item %]</input><br />
[% END %]
<input type="hidden" name="pid" value="[% path_info.pathid %]" />
<input type="submit" value="UPDATE" />
<input type="reset" />
</p>
</form>

[% PROCESS global/footer.html.tmpl %]
