[% PROCESS global/header.html.tmpl %]

<h3>General current path informations</h3>

[% IF pid == 0 %]
  <p>ROOT PATH</p>
[% ELSE %]
  <ul>
    <li>Path ID: [% path_info.pathid %]</li>
    <li>Full path: [% full_path %]</li>
    <li>Parenet: [% path_info.parent %]</li>
    <li>Name: [% path_info.pathname %]</li>
    <li>Description: [% path_info.description %]</li>
    <li>Accessible groups: [% permission.join(', ') %] </li>
  </ul>
[% END %]

<h3>Sub path list</h3>

<ul>
  [% FOREACH item = spath_list %]
    <li>ID #[% item.pathid %]: <a href="pathinfo.cgi?pid=[% item.pathid %]">[% item.pathname %]</a>
      <ul>
        <li>Description: [% item.description %]</li>
        <li>Accessible groups: [% spath_access.${item.pathid}.join(', ') %]</li>
      </ul></li>
  [% END %]
</ul>

<h3>Documnts in this path</h3>

<ul>
  [% FOREACH item = doc_list %]
    <li>ID #[% item.docid %]: <a href="docinfo.cgi?did=[% item.docid %]">[% item.filename %]</a> ([% item.description %])</li>
  [% END %]
</ul>

[% PROCESS global/footer.html.tmpl %]
