[% PROCESS global/header.html.tmpl
  page_title = "System error occurred"
%]

<div id="error">
<img class="errico" src="skins/images/weby-icon/Warning.png">
<p class="desc">
System suffered to a un-recoverable error.
Please notify your system administrator or file into ITS (if exist), 
with error code '[% error %]' and what you did just before this error.
</p>
<div class="info">
  [% IF error == 'already_locked' %]
    System tried to lock the database which is already locked.
  [% ELSIF error == 'failed_to_add_label' %]
    Faild to add new label.
  [% ELSIF error == 'ldap_bind_anonymous' %]
    Could not bind to LDAP server in anonymous.
  [% ELSIF error == 'ldap_connect' %]
    Could not connect to LDAP server.
  [% ELSIF error == 'nested_transaction' %]
    System tried to execute a nested transaction to a database.
  [% ELSIF error == 'not_in_transaction' %]
    System tried to end a transaction while it has not started.
  [% ELSIF error == 'not_locked' %]
    System has not locked the database.
  [% ELSIF error == 'path_add_failed' %]
    Failed to add new path.
  [% ELSIF error == 'template_format_missing' %]
    Template with specified type is missing.
  [% ELSIF error == 'update_info_failed' %]
    Could not update the database.
  [% ELSIF error == 'invalid_parameter' %]
    Method '[% method FILTER html %]' was called with invalid parameters.
  [% ELSE %]
    This error code '[% error %]' is undefined. Please contact your system administrator.
  [% END %]
</div>
</div>

[% PROCESS global/footer.html.tmpl %]
