[% PROCESS global/header.html.tmpl
  page_title = "Error occured."
%]

<div id="error">
<img class="errico" src="skins/images/weby-icon/Warning.png">
<p class="desc">
The system could not complete your request. 
Please notify your system administrator or file into 
<a href="https://github.com/himorin/docsrv/">GitHub</a> 
with error code '[% error %]', the URL you requested, 
and what you did just before this error.
</p>
<div class="info">
  [% IF error == 'doc_add_failed' %]
    Failed to add new [% terms.document %].
  [% ELSIF error == 'file_move_failed' %]
    Could not move into the storage on registering new [% terms.file %].
  [% ELSIF error == 'file_register_failed' %]
    Failed to register new [% terms.file %] into existing [% terms.document %].
  [% ELSIF error == 'update_permission' %]
    Could not update information.
    You need to have the administrative permissino or 
    to be an exact user who uploaded the [% terms.file %].
  [% ELSIF error == 'invalid_document_id' %]
    Invalid [% terms.document %] ID supplied.
  [% ELSIF error == 'invalid_file_source' %]
    Invalid [% terms.file %] supplied.
  [% ELSIF error == 'invalid_fileid' %]
    Invalid [% terms.file %] ID supplied.
  [% ELSIF error == 'invalid_filepath' %]
    Invalid [% terms.file %] path supplied.
  [% ELSIF error == 'invalid_label_id' %]
    Invalid label ID supplied.
  [% ELSIF error == 'invalid_param' %]
    You have specified invalid parameters.
  [% ELSIF error == 'invalid_path_id' %]
    Invalid [% terms.path %] ID supplied.
  [% ELSIF error == 'ldap_uid_notfound' %]
    Could not find a record of your account at LDAP.
  [% ELSIF error == 'null_file_upload' %]
    No file uploaded.
  [% ELSIF error == 'permission_error' %]
    You don't have permission to view specified content.
  [% ELSIF error == 'root_cannot_set_permission' %]
    You cannot set any permission for the top [% terms.path %].
  [% ELSIF error == 'system_invoke_error' %]
    System invoke error.
  [% ELSIF error == 'unknown_operation_method' %]
    You have specified an unknown operation method.
  [% ELSIF error == 'invalid_new_name' %]
    You cannot register new [% terms.path %] or [% terms.document %] with 
    a name of '[% new_name FILTER html %]'.
    [% IF error_id == 'null_name' %]
      Your specified name is empty.
    [% ELSIF error_id == 'cannot_use_char' %]
      Your specified name contains an invalid charactor.
    [% ELSIF error_id == 'collision' %]
      You cannot use the same name as existing 
      [% IF target == 'path' %][% terms.path %]
      [% ELSIF target == 'doc' %][% terms.document %]
      [% ELSE %][% target FILTER html %][% END %].
    [% END %]
  [% ELSIF error == 'unknown_icon_target' %]
    You have specified unknown icon target. Please check the option.
  [% ELSIF error == 'file_hash_match' %]
    Your file already exists: 
    [% FOREACH item IN matched -%]
      [%- IF ! loop.first %], [% END -%]
      <a href="fileinfo.cgi?fid=[% item %]">[% item %]</a>
    [% END %]
  [% ELSE %]
    This error code [% error %] is undefined.
  [% END %]
</div>
</div>

[% PROCESS global/footer.html.tmpl %]
