
<table class="favlist">
  <tr>
    <th></th>
    <th>[% terms.document %] name</th>
    <th>Description</th>
    <th>un-fav</th>
    <th colspan="4">Newest</th>
  </tr>

[% FOREACH item IN favpath.keys %]
  <tr class="path_[% item %]">
    <td class="docmanage">
      <a href="docadd.cgi?pid=[% item %]">[% INCLUDE show_table_icon id = 'add_doc' %]</a>
      </td>
    <td class="docpath"><a href="pathinfo.cgi?pid=[% item %]"><tt>[% favpath.$item.full_path %]</tt></a></td>
    <td class="docfav">[% favpath.$item.short_description %]</td>
    <td class="docfav_rm"><a href="docfav.cgi?pid=[% item %]&amp;op=remove">un-fav</a></td>
    <td colspan="3" class="center"></td>
  </tr>
[% END %]

[% FOREACH item IN favlist.keys %]
  <tr class="doc_[% item %]">
    <td class="docmanage">
      [% IF favlist.$item.fid.defined %]
        <a href="fileget.cgi?did=[% item %]">[% INCLUDE show_table_icon id = 'download' %]</a>
      [% END %]
      <a href="docupdate.cgi?did=[% item %]">[% INCLUDE show_table_icon id = 'fileup' %]</a>
      </td>
    <td class="docpath">
      <a href="fileget.cgi?did=[% item %]"><tt>[% favlist.$item.full_path %][% favlist.$item.filename %]</tt></a></td>
    <td class="docfav">[% favlist.$item.short_description %]</td>
    <td class="docfav_rm"><a href="docfav.cgi?did=[% favlist.$item.docid %]&amp;op=remove">un-fav</a></td>
    [% IF favlist.$item.fid.defined %]
      <td>[% favlist.$item.fid.uname %]</td>
      <td>[% favlist.$item.fid.uptime %]</td>
      <td class="docsize">[% SizeDisp(favlist.$item.fid.size) %]</td>
      <td>[% favlist.$item.fid.version %]</td>
    [% ELSE %]
      <td colspan="4" class="center">Not exist</td>
    [% END %]
  </tr>
[% END %]
</table>

