[% PROCESS global/header.html.tmpl
  page_title = "システムエラー"
%]

<div id="error">
<img class="errico" src="skins/images/weby-icon/Warning.png">
<p class="desc">
システムに回復不可能なエラーが発生しました。
このエラーが発生した画面のURLおよびどういう操作を行ったかを、
エラーコード '[% error %]' とともにシステム管理者に通知するか、
<a href="https://psmt.kusastro.kyoto-u.ac.jp/bugzilla/enter_bug.cgi?product=PSMT">Bugzilla</a>
に登録してください。
</p>
<div class="info">
  [% IF error == 'already_locked' %]
    すでにロックしているデータベースを再度ロックしようとしました。
  [% ELSIF error == 'failed_to_add_label' %]
    ラベルの追加操作に失敗しました。
  [% ELSIF error == 'ldap_bind_anonymous' %]
    LDAPサーバに匿名接続できませんでした。
  [% ELSIF error == 'ldap_connect' %]
    LDAPサーバに接続できません。
  [% ELSIF error == 'nested_transaction' %]
    データベースへのトランザクションを再度開始しようとしました。
  [% ELSIF error == 'not_in_transaction' %]
    トランザクションが開始されていないのにデータベースへのトランザクションを終了しようとしました。
  [% ELSIF error == 'not_locked' %]
    データベースはロックしていない状態です。
  [% ELSIF error == 'path_add_failed' %]
    パスの追加操作に失敗しました。
  [% ELSIF error == 'template_format_missing' %]
    要求されたテンプレートの形式が見つかりません。
  [% ELSIF error == 'update_info_failed' %]
    DBへの情報更新の操作が失敗しました。
  [% ELSIF error == 'invalid_parameter' %]
    メソッド [% method FILTER html %] が無効なパラメータで呼び出されました。
  [% ELSE %]
    このエラーコード [% error %] は未定義です。
  [% END %]
</div>
</div>

[% PROCESS global/footer.html.tmpl %]
