[% PROCESS global/header.html.tmpl
  current_page = "admin"
  page_title = "管理者設定ページ"
%]

<h3>利用可能な管理用機能一覧</h3>

<ul>
  <li><a href="editicon.cgi">アイコン定義の編集</a>
    <ul>
      <li><a href="editicon.cgi?class=table">表部分に利用されるアイコン</a>
        (ディレクトリ・ドキュメントなどの表に利用されるアイコンです)</li>
      <li><a href="editicon.cgi?class=mime">MIMEタイプ別アイコン</a>
        (ドキュメントのファイル型を視認するために表示されるアイコンです)</li>
      </ul></li>
  <li><a href="delpath.cgi">空の [% terms.path %] の削除</a></li>
</ul>


[% PROCESS global/footer.html.tmpl %]
