[% PROCESS global/header.html.tmpl %]

<h3>ファイル更新履歴</h3>

<p>(近い時間にアップロードされた)異なるタイプのファイルは、同じバージョンの
別形式のファイルとしてアップロードされている可能性があります。</p>

[% INCLUDE entry/filelist.html.tmpl   files = file_list %]

<h3>ドキュメント情報</h3>

<p><a href="docmerge.cgi?did=[% doc_info.docid %]">この [% terms.document %] 
をほかの [% terms.document %] にマージする</a></p>

<form method="POST" action="docinfo.cgi">
<ul>
  <li>フルパス: 
    <span id="doc_name_raw">
      <tt><a href="pathinfo.cgi?path=[% full_path %]">/[% full_path %]</a></tt>
      <tt>[% doc_info.filename %]</tt></span>
    <span id="doc_name_edit" class="ui_hidden">
      <select name="new_pathid" id="new_pathid">
      </select>/<input type="text" size="50" name="new_name" value="[% doc_info.filename %]"></span>
    [% IF InList(file_uname, User.uid) || Admin %]
      <span id="update_link"><a href="javascript: doc_info_update();">更新</a></span>
    [% END %]</li>
  <li><label for="new_secure">セキュリティーフラグ (ダウンロード時に暗号化): </label>
    <span id="doc_sec_raw">[% IF doc_info.secure == 1 %]設定[% ELSE %]未設定[% END %]</span>
    <span id="doc_sec_edit" class="ui_hidden"><input type="checkbox" name="new_secure" [% IF doc_info.secure == 1 %]checked="checked"[% END %] /></span>
    </li>
  <li>アクセス可能グループ: 
    [% IF group_list.size > 0 %][% group_list.join(', ') %]
    [% ELSE %](未定義)[% END %]
    <a href="docgroup.cgi?did=[% doc_info.docid %]">[% INCLUDE show_table_icon id = 'group_add' %]</a>
    </li>
  <li>ラベル: 
    [% IF doc_labels.size > 0 %]
      [% FOREACH item IN doc_labels %]
        [% IF NOT loop.first %], [% END %]
        <span title="[% Label.$item.description %]">[% Label.$item.name %]</span>
      [% END %]
    [% ELSE %](未定義)[% END %]
    <a href="doclabel.cgi?did=[% doc_info.docid %]">[% INCLUDE show_table_icon id = 'label_add' %]</a>
    </li>
  [% IF UpDoc(doc_info.docid) || Admin %]
    <li><a onclick="window.open('json.cgi?type=loaddoc&amp;id=[% doc_info.docid %]&amp;format=html','log-[% doc_info.docid %]');">ファイルアクセスログ</a></li>
  [% END %]
</ul>
<p><label for="new_description">[% terms.file %] の説明 (markdown書式が利用可能)</label></p>
    <div id="doc_desc_raw" class="markdown">[% doc_info.description FILTER markdown %]</div>
    <div id="doc_desc_edit" class="ui_hidden"><textarea rows="10" cols="100" name="new_description">[% doc_info.description FILTER html %]</textarea></div>
<div id="doc_update" class="ui_hidden">
  <input type="submit" value="更新">
</div>
<input type="hidden" name="did" value="[% doc_info.docid %]">
<input type="hidden" name="old_name" value="[% doc_info.filename %]">
<input type="hidden" name="old_pathid" value="[% doc_info.pathid %]">
<input type="hidden" name="old_description" value="[% doc_info.description FILTER html %]">
<input type="hidden" name="old_secure" value="[% doc_info.secure %]">
</form>

<script type="text/javascript">
<!--
function doc_info_update () {
  \$("#doc_name_raw").addClass("ui_hidden");
  \$("#doc_name_edit").removeClass("ui_hidden");
  \$("#doc_sec_raw").addClass("ui_hidden");
  \$("#doc_sec_edit").removeClass("ui_hidden");
  \$("#doc_desc_raw").addClass("ui_hidden");
  \$("#doc_desc_edit").removeClass("ui_hidden");
  \$("#doc_update").removeClass("ui_hidden");
  \$("#update_link").addClass("ui_hidden");
  SetPathSelect('new_pathid', [% doc_info.pathid %]);
}
// -->
</script>

[% PROCESS global/footer.html.tmpl %]
