[% PROCESS global/header.html.tmpl %]

<h3>現在の設定</h3>
<ul>
  <li>Full name: <tt>[% full_path %][% doc_info.filename %]</tt></li>
  <li>Document ID: [% doc_info.docid %]</li>
  <li>Path ID: [% doc_info.pathid %]</li>
  <li>File name: [% doc_info.filename %]</li>
  <li>Accessible groups: [% group_list.join(', ') %] </li>
</ul>
<div class="markdown">[% doc_info.description FILTER markdown %]</div>

<h3>ラベルの更新</h3>


<form action="doclabel.cgi" method="POST">
[% INCLUDE global/formopt.html.tmpl %]
<ul>
[% FOREACH item = Label.keys %]
  <li><input type="checkbox" name="newlabel" value="[% Label.$item.labelid %]"
    [% IF InList(label_list, Label.$item.labelid) %]checked="checked"[% END %]
    >[% Label.$item.name %]</input></li>
[% END %]
</ul>
<input type="hidden" name="did" value="[% doc_info.docid %]" />
<input type="submit" value="UPDATE" />
<input type="reset" />
</p>
</form>

[% PROCESS global/footer.html.tmpl %]
