[% PROCESS global/header.html.tmpl %]

[% IF added.defined %]
  <h3><a href="docinfo.cgi?did=[% doc_info.docid %]">'[% full_path FILTER html %][% doc_info.filename %]'</a> にファイル
  [% added FILTER html %] が追加されました</h3>
[% ELSE %]
  <h3>新しい[% terms.file %]の追加 - <tt>[% full_path %][% doc_info.filename %]</tt></h3>
  <form action="docupdate.cgi" method="POST" enctype="multipart/form-data">
    [% PROCESS global/formopt.html.tmpl %]
    [% INCLUDE entry/docform.html.tmpl    did = doc_info.docid %]
    <input type="submit" value="[% terms.document %]更新">
    <input type="reset" value="リセット">
  </form>
[% END %]

<hr>

<p>[% terms.document %] の説明</p>
<div class="markdown">[% doc_info.description FILTER markdown %]</div>
<ul>
  <li>アクセス可能グループ:
    [% IF group_list.size > 0 %][% group_list.join(', ') %]
    [% ELSE %](未定義)[% END %]</li>
</ul>

[% INCLUDE entry/filelist.html.tmpl   files = file_list %]

[% PROCESS global/footer.html.tmpl %]
