{"finfo":{"fid":"[% file_info.fileid %]","description":"[% file_info.description %]","fileext":"[% file_info.fileext %]","docid":"[% file_info.docid %]","uptime":"[% file_info.uptime %]","uname":"[% file_info.uname %]","srcip":"[% file_info.srcip FILTER ipaddr %]","enabled":"[% file_info.enabled %]","version":"[% file_info.version %]"}}
