[% PROCESS global/header.html.tmpl %]

<h3>このファイルについて</h3>

<form method="POST" action="fileinfo.cgi">
<ul>
  <li>ファイルの説明:
    <span id="file_desc_raw">[% file_info.description %]</span>
    <span id="file_desc_edit" class="ui_hidden"><input type="text" size="100" name="description" value="[% file_info.description %]"></span>
    [% IF User.uid == file_info.uname %]
      <span id="update_link"><a href="javascript: file_info_update();">更新</a></span>
    [% END %]</li>
  <li>ファイル型:
       [%- INCLUDE show_mime_icon id = file_info.fileext -%]
       [% file_info.fileext %] / [% file_type %]</li>
  <li>ユーザ: [% file_info.uname %]</li>
  <li>登録日時: [% file_info.uptime %]</li>
  <li>登録元: [% file_info.srcip FILTER ipaddr %]</li>
  <li><a onclick="window.open('json.cgi?type=loadfile&amp;id=[% file_info.fileid %]&amp;format=html','log-[% file_info.fileid %]');">このファイルへのアクセスログ</a></li>
</ul>
<div id="file_update" class="ui_hidden">
  <input type="submit" value="更新">
</div>
<input type="hidden" name="fid" value="[% file_info.fileid %]">
</form>

<script type="text/javascript">
<!--
function file_info_update () {
  \$("#file_desc_raw").addClass("ui_hidden");
  \$("#file_desc_edit").removeClass("ui_hidden");
  \$("#file_update").removeClass("ui_hidden");
  \$("#update_link").addClass("ui_hidden");
}
// -->
</script>

<p><a href="fileget.cgi?fid=[% file_info.fileid %]">このファイルをダウンロード</a>
もしくは、このファイルが登録されている
<a href="docinfo.cgi?did=[% file_info.docid %]">ドキュメントの情報を表示</a>する。</p>

[% PROCESS global/footer.html.tmpl %]
