[% PROCESS global/header.html.tmpl
  current_page = "index"
  page_title = "メインページ"
%]

<h3>[% terms.path %]リスト</h3>

[% INCLUDE entry/table.html.tmpl       paths = topdirs   docs = doc_list  cpname = '' %]

<h3>最近更新された[% terms.document %]</h3>

[% INCLUDE entry/table.html.tmpl       docs = recent %]

<h3>あなたの [% terms.favorite %]</h3>

[% INCLUDE favorite/table.html.tmpl    favpath = favs_path  favlist = favs %]



[% PROCESS global/footer.html.tmpl %]
