[%- terms = {
    "sitename"       => "SuMIRe/PFS - Prime Focus Spectrograph Project",
    "sitedomain"     => "pfs.ipmu.jp",

    "path"           => "ディレクトリ",
    "document"       => "ドキュメント",
    "file"           => "ファイル",
    "favorite"       => "お気に入り",

    "icon_def"       => "crystal_project-16/mimetypes/unknown.png",
 }
%]
[%- header_links_def = {
    "index"    => { "name" => "ホーム", "url" => "$UConf.home.value" },
    "dir"      => { "name" => "/", "url" => "pathinfo.cgi?pid=0" },
    "add"      => { "name" => "新規追加", "url" => "docadd.cgi?pid=-1" },
    "labels"   => { "name" => "ラベル", "url" => "labellist.cgi"},
    "favs"     => { "name" => "$terms.favorite", "url" => "favlist.cgi"},
    "recent"   => { "name" => "直近の更新", "url" => "recent.cgi"},
    "search"   => { "name" => "検索", "url" => "search.cgi"},
    "admin"    => { "name" => "管理", "url" => "admin.cgi", group => Param.admingroup },
    "config"   => { "name" => "設定", "url" => "config.cgi" },
 }
%]
[% BLOCK site_announce %]
[% END %]

[%- user_config_help = {
    "history"    => "更新履歴で表示するドキュメントの最終更新日数",
    "email"      => "お気に入りが更新されたときにメールを送信する",
    "home"       => "ホーム(トップページ)として表示する画面 (\"index.cgi\"のようなURLの最後の'/'よりあと)",
 }
%]

[%# 表の中のアイコンの表示定義
  #   id : アイコンID
  #%]
[%- BLOCK show_table_icon %]<img 
  [%- IF IcoTable.$id.defined -%]
    src="skins/images/[% IcoTable.$id.value %]" title="[% IcoTable.$id.tiphelp %]"
  [%- ELSE -%]
    src="skins/images/[% terms.icon_def %]" title="アイコンが未定義です"
  [%- END %]
  [% IF html_id.defined %]id="[% html_id FILTER html %]"[% END -%]
  [% IF html_class.defined %]class="[% html_class FILTER html %]"[% END -%]
/>[% END -%]

[%- BLOCK show_mime_icon %]<img 
  [%- IF IcoMime.$id.defined -%]
    src="skins/images/[% IcoMime.$id.value %]" title="[% IcoMime.$id.tiphelp %]"
  [%- ELSE -%]
    src="skins/images/[% terms.icon_def %]" title="アイコンが未定義です"
  [%- END %]
  [% IF html_id.defined %]id="[% html_id FILTER html %]"[% END -%]
  [% IF html_class.defined %]class="[% html_class FILTER html %]"[% END -%]
/>[% END %]
