[% PROCESS global/header.html.tmpl
  page_title = "設定値リスト"
%]

<h3>[% type %] の設定値リスト</h3>

<table>
<thead>
  <tr>[% FOREACH hkey IN jsondata.first.keys %]<td>[% hkey %]</td>[% END %]</tr>
</thead>
<tbody>
  [% FOREACH hid IN jsondata.keys %]
    <tr>[% FOREACH hkey IN jsondata.$hid.keys %]<td>[% jsondata.$hid.$hkey %]</td>[% END %]</tr>
  [% END %]
</tbody>
</table>

[% PROCESS global/footer.html.tmpl %]
