[% PROCESS global/header.html.tmpl %]

<h3>[% IF lid == 0 %]ラベルの追加[% ELSE %]ラベルの更新[% END %]</h3>

<form action="labeledit.cgi" method="POST">
[% INCLUDE global/formopt.html.tmpl %]

<ul>
  [% IF lid != 0 %]<li>ID : [% linfo.labelid %]</li>[% END %]
  <li><label>名前 : <input type="text" name="lname" value="[% linfo.name %]"></label></li>
  <li><label>説明 : <input type="text" name="ldesc" value="[% linfo.description %]"></label></li>
</ul>

<input type="hidden" name="lid" value="[% lid %]" />
<input type="submit" value="更新" />
<input type="reset" />
</p>
</form>

[% PROCESS global/footer.html.tmpl %]
