[% PROCESS global/header.html.tmpl
  current_page = "zipadd"
  page_title = "アーカイブでの一括アップロード"
  javascript = "table_sort.js"
%]

[% IF mode == 'upload' %]
<h3>[% terms.path %] "/[% full_path %]" への一括アップロード</h3>
<form action="zipadd.cgi" method="POST" enctype="multipart/form-data">
<input type="hidden" name="pid" value="[% pid %]"></li>
<p>
  <label><input type="radio" name="source" value="upload" checked="checked" /> ローカルファイルをアップロード: </label>
  <input type="file" name="target_file" size="80" />
  <br />
  10MB程度以上のファイルをアップロードしようとした場合、ブラウザやサーバの状況に
  よってはタイムアウトする可能性があります。
  [% IF Param.dav_uri != "" %]
    その場合、下のチェックボックスを選択し、
    <a href="[% Param.dav_uri %]">WebDAV</a>
    に先にアップロードしたファイルから追加する機能を利用してください。
    (<a href="http://www.google.co.jp/search?q=webdav">WebDAVとは</a>)
  [% END %]
</p>

[% IF dav_file.defined && Param.dav_uri != "" %]
  <p>
    [% IF dav_file.keys.size == 0 %]
      WebDAV領域にファイルはありません。
    [% ELSE %]
      <label><input type="radio" name="source" value="dav" /> WebDAVに置いたファイルを利用 :</label>
      <select name="dav_source">
        [% FOREACH item IN dav_file.keys %]
          <option value="[% item %]">[% item %] ([% SizeDisp(dav_file.$item) %])</option>
        [% END %]
      </select>
    [% END %]
  </p>
[% END %]
<input type="submit" />
</form>
[% ELSIF mode == 'result' %]
<h3>[% terms.path %] "/[% full_path %]" への一括アップロード結果</h3>
[% IF up_succ.size > 0 %]
<h4>追加成功ファイルリスト</h4>
<table class="dirlist tablesorter">
<tr>
  <th>[% terms.document %] 名</th>
  <th>拡張子</th>
  <th>[% terms.document %] ID</th>
  <th>[% terms.file %] ID</th>
  <th>最終更新</th>
  <th>バージョン</th>
  <th>サイズ</th>
</tr>
[% FOREACH item IN up_succ %]
<tr>
  <td>[% full_path %][% item.storename %]</td>
  <td>[% item.ext %]</td>
  <td>[% item.did %]</td>
  <td>[% item.fid %]</td>
  <td>[% item.lastmodified %]</td>
  <td>[% item.version %]</td>
  <td>[% SizeDisp(item.size) %]</td>
</tr>
[% END %]
</table>
[% END %]

[% IF up_fail.size > 0 %]
<h4>追加失敗ファイルリスト</h4>
<table class="dirlist tablesorter">
<tr>
  <th>種別</th>
  <th>アーカイブ中のファイル名</th>
  <th>最終更新</th>
  <th>サイズ</th>
  <th>エラー</th>
</tr>
[% FOREACH item IN up_fail %]
<tr>
  <td>[% IF item.mode == 'path' %][% terms.path %][% ELSE %][% terms.document %][% END %]</td>
  <td>[% item.fullname %]</td>
  <td>[% IF item.mode == 'doc' %][% item.lastmodified %][% END %]</td>
  <td>[% IF item.mode == 'doc' %][% SizeDisp(item.size) %][% END %]</td>
  <td>[% IF item.error == 'invalid_encoding' %]無効な文字コード[%
      ELSIF item.error == 'in_invalid_path' %]無効な [% terms.path %] 中に存在[%
      ELSIF item.error == 'invalid_path' %]無効な [% terms.path %] 名[%
      ELSIF item.error == 'path_db_doc' %]既存の [% terms.path %] か [% terms.document %] と同名[%
      ELSIF item.error == 'invalid_doc' %]無効な [% terms.document %] 名[%
      ELSIF item.error == 'fail_add_file' %][% terms.document %] への [% terms.file %] の追加失敗[%
      ELSIF item.error == 'fail_store_file' %][% terms.file %] 保存失敗[%
      ELSE %][% item.error %][% END %]</td>
</tr>
[% END %]
</table>
[% END %]

[% ELSE %]
<h3>未定義の操作です。</h3>
[% END %]

[% PROCESS global/footer.html.tmpl %]
