[% PROCESS global/header.html.tmpl
  current_page = "zipadd"
  page_title = "アーカイブでの一括アップロード"
  javascript = "table_sort.js"
%]

[% IF mode == 'upload' %]
<h3>[% terms.path %] "/[% full_path %]" への一括アップロード</h3>
<form action="zipadd.cgi" method="POST" enctype="multipart/form-data">
<input type="hidden" name="pid" value="[% pid %]">
[% INCLUDE global/formopt.html.tmpl %]

<h4>利用するアーカイブファイル</h4>
<p>
  <label><input type="radio" name="source" value="upload" checked="checked" /> ローカルファイルをアップロード: </label>
  <input type="file" name="target_file" size="80" />
  <br />
  10MB程度以上のファイルをアップロードしようとした場合、ブラウザやサーバの状況に
  よってはタイムアウトする可能性があります。
  [% IF Param.dav_uri != "" %]
    その場合、下のチェックボックスを選択し、
    <a href="[% Param.dav_uri %]">WebDAV</a>
    に先にアップロードしたファイルから追加する機能を利用してください。
    (<a href="http://www.google.co.jp/search?q=webdav">WebDAVとは</a>)
  [% END %]
</p>

[% IF dav_file.defined && Param.dav_uri != "" %]
  <p>
    [% IF dav_file.keys.size == 0 %]
      WebDAV領域にファイルはありません。
    [% ELSE %]
      <label><input type="radio" name="source" value="dav" /> WebDAVに置いたファイルを利用 :</label>
      <select name="dav_source">
        [% FOREACH item IN dav_file.keys %]
          <option value="[% item %]">[% item %] ([% SizeDisp(dav_file.$item) %])</option>
        [% END %]
      </select>
    [% END %]
  </p>
[% END %]

<h4>アップロードの属性設定</h4>
<p>アップロードするアーカイブファイルの属性を設定するためのファイルを同時に
アップロードすることができます。ファイルのフォーマットはタブ区切り形式(TSV)
とJSON形式が選択可能です。以下の設定可能な値を各型式の指定に従ってファイルに
保存しアップロードしてください。
属性設定ファイルは属性をオーバーライドしたい [% terms.file %] の行のみでよく、
全 [% terms.file %] について記載する必要はありません。
設定がない [% terms.file %] については<i>既定値</i>が利用されます。</p>

<h5>設定可能な値</h5>

<dl>
  <dt>filename</dt>
  <dd>(必須) 拡張子を含むアーカイブ内のルートからのディレクトリを含んだファイル名</dd>
  <dt>uptime</dt>
  <dd>指定するアップロード時間。ただし<tt>POSIX time</tt>の数値で指定してください。
    (<i>既定値はアーカイブ内のファイルのタイムスタンプ</i>)</dd>
  <dt>uname</dt>
  <dd>アップロードファイルの作成者 (有効なユーザのリストとの照合はされません)
    (<i>既定値はアップロードしたユーザ</i>)</dd>
  <dt>filedesc</dt>
  <dd>アップロードするファイルの説明 (<i>既定値は空白</i>)</dd>
  <dt>version</dt>
  <dd>ファイルのバージョン番号
    (<i>既定値は既存 [% terms.file %] を参考に自動採番</i>)</dd>
  <dt>docdesc</dt>
  <dd>アップロード先ドキュメントの説明 (<i>既定値は空白</i>)</dd>
  <dt>secure</dt>
  <dd>セキュリティーフラグ (1 = 設定する) (<i>既定値は設定しない</i>)</dd>
</dl>

<p><tt>docdesc</tt>と<tt>secure</tt>は [% terms.document %] のパラメータです。
このため、新規に [% terms.document %] が登録されるときにのみ利用されます。
アーカイブ中に同じ [% terms.document %] に入る複数の拡張子の [% terms.file %] 
がある場合は同じ文章を入れるか二つ目以降は空白にしてください。</p>

<h5>アップロードするファイルの形式</h5>
<ul>
  <li><label><input type="radio" name="config_format" value="tsv" checked="checked">: 
    タブ区切り形式ファイル (TSV)、先頭行に設定可能な値の種別(<tt>filename</tt>
    など、順不同・必要な項目だけでも可)を並べ、2行目以降に設定を記述してください。
    値の個数が異なる行は無視されます。また無効値(versionに数値以外など)は未定義
    として取り扱われます。</label></li>
  <li><label><input type="radio" name="config_format" value="json">: 
    JSON形式。設定可能な値のハッシュ(キーが種別名、値が設定値)の配列を持つJSON
    形式のデータを指定してください。</label></li>
</ul>

<h5>アップロードするファイル</h5>
<p>アップロードするファイルを指定してください (ここでファイルが選択されない場合
はこのセクションは有効になりません): 
<input type="file" name="target_config" /></p>

<h5>属性設定ファイルの内容確認</h5>
<p>アップロード後に指定した属性設定ファイルの読み込み結果を確認することが可能
です。必要な場合はチェックしてください。<br />
<label><input type="checkbox" name="config_confirm"> 属性設定ファイルの確認を
行う (ただし、アップロードされた属性設定ファイルのみの検証で、アーカイブファイル
と合わせての検証はされません。)</label></p>

<input type="submit" />
<input type="reset" />
</form>
[% ELSIF mode == 'result' %]
<h3>[% terms.path %] "<a href="path/[% full_path %]">/[% full_path %]</a>" への一括アップロード結果</h3>
[% IF up_succ.size > 0 %]
<h4>追加成功ファイルリスト</h4>
<table class="dirlist tablesorter">
<tr>
  <th>[% terms.document %] 名</th>
  <th>拡張子</th>
  <th>[% terms.document %] ID</th>
  <th>[% terms.file %] ID</th>
  <th>最終更新</th>
  <th>バージョン</th>
  <th>サイズ</th>
</tr>
[% FOREACH item IN up_succ %]
<tr>
  <td><a href="doc/[% full_path %][% item.storename %]">[% full_path %][% item.storename %]</a></td>
  <td>[% item.ext %]</td>
  <td><a href="docinfo.cgi?did=[% item.did %]">[% item.did %]</a></td>
  <td><a href="fileinfo.cgi?fid=[% item.fid %]">[% item.fid %]</a></td>
  <td>[% item.lastmodified %]</td>
  <td>[% item.version %]</td>
  <td>[% SizeDisp(item.size) %]</td>
</tr>
[% END %]
</table>
[% END %]

[% IF up_fail.size > 0 %]
<h4>追加失敗ファイルリスト</h4>
<table class="dirlist tablesorter">
<tr>
  <th>種別</th>
  <th>アーカイブ中のファイル名</th>
  <th>最終更新</th>
  <th>サイズ</th>
  <th>エラー</th>
</tr>
[% FOREACH item IN up_fail %]
<tr>
  <td>[% IF item.mode == 'path' %][% terms.path %][% ELSE %][% terms.document %][% END %]</td>
  <td>[% item.fullname %]</td>
  <td>[% IF item.mode == 'doc' %][% item.lastmodified %][% END %]</td>
  <td>[% IF item.mode == 'doc' %][% SizeDisp(item.size) %][% END %]</td>
  <td>[% IF item.error == 'invalid_encoding' %]無効な文字コード[%
      ELSIF item.error == 'in_invalid_path' %]無効な [% terms.path %] 中に存在[%
      ELSIF item.error == 'invalid_path' %]無効な [% terms.path %] 名[%
      ELSIF item.error == 'path_db_doc' %]既存の [% terms.path %] か [% terms.document %] と同名[%
      ELSIF item.error == 'invalid_doc' %]無効な [% terms.document %] 名[%
      ELSIF item.error == 'file_register_failed' %][% terms.document %] への [% terms.file %] の追加失敗[%
      ELSIF item.error == 'file_store_failed' %][% terms.file %] 保存失敗[%
      ELSE %][% item.error %][% END %]</td>
</tr>
[% END %]
</table>
[% END %]

[% ELSE %]
<h3>未定義の操作です。</h3>
[% END %]

[% PROCESS global/footer.html.tmpl %]
