[% PROCESS global/header.html.tmpl %]

<h3>Attribute value updated</h3>

<div>
Value for attribute [% attr FILTER html %] on 
[%- IF target == 'file' %]
<a href="fileinfo.cgi?fid=[% id FILTER url %]">[% terms.file %] [% id FILTER html %]</a>
[% ELSIF target == 'doc' %]
<a href="docinfo.cgi?did=[% id FILTER url %]">[% terms.document %] [% id FILTER html %]</a>
[% ELSE %]
<a href="pathinfo.cgi?pid=[% id FILTER url %]">[% terms.path %] [% id FILTER html %]</a>
[% END %] 
has updated from [% old_value FILTER html %] to [% new_value FILTER html %].
</div>

[% PROCESS global/footer.html.tmpl %]
