<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>[% page_title %] - [% terms.sitename %]</title>
    <link rel="stylesheet" href="skins/global.css">
    [% FOREACH item = stylesheet %]
      <link rel="stylesheer" href="skins/[% item %]">
    [% END %]
    <script src="skins/global.js"></script>
    [% FOREACH item = javascript %]
      <script src="skins/[% item %]"></script>
    [% END %]
  </head>
  <body
    [% IF onload.defined %]onload="[% onload %]"[% END %]
    [% IF bodyclass.defined AND bodyclass.size > 0 %]class="[% FOREACH item = bodyclass %][% item %][% END %]"[% END %]
    >

<div id="header">
  <div id="titles">
    <p id="sitename">[% terms.sitename %]</p>
    <p id="subtitle">
      [% IF page_title%][% page_title %]
        [% IF header_addl %]
          &mdash; <span id="header_addl">[% header_addl %]</span>
        [% END %]
      [% ELSE %]
        &nbsp;
      [% END %]
    </p>
  </div>
  <ul class="links">
    [% FOREACH item = header_links %]
      <li>
        [% IF NOT loop.first %]<span class="separator">|</span>[% END %]
        [% IF header_links_def.$item.defined %]
          <a href="[% header_links_def.$item.url %]">[% header_links_def.$item.name %]</a>
        [% END %]
      </li>
    [% END %]
  </ul>
</div>

<div id="body">
[% PROCESS site_announce %]
