
<form action="pathadd.cgi" method="POST">
[% INCLUDE global/formopt.html.tmpl %]

<h3 id="path_add" class="ui_clickable">[% terms.path %]の追加</h3>
<script type="text/javascript">
  var path_add_disp = function() { tweak_ToggleClass('path_add', 'ui_hidden'); }
  YAHOO.util.Event.on('path_add', 'click', path_add_disp);
</script>

<div class="path_add">

<p>新しい [% terms.path %] 名: <input type="text" name="newpath" value="" size="50"></p>
<p>次のメールアドレスに通知を送信する: <input type="text" name="demail" value="" size="50"> (カンマ区切りのメールアドレス)</p>
<p>説明</p>
<div><textarea name="newdesc" value="" cols="150" rows="10"></textarea></div>

<p>チェックを付けたグループのどれかに所属しているユーザのみが閲覧可能になります。
全てのチェックを外すと、どのユーザも閲覧できるようになります。</p>

<ul>
[% FOREACH item = Group %]
  <li><input type="checkbox" name="newgroup" value="[% item %]">[% item %]</input></li>
[% END %]
</ul>

<input type="hidden" name="cur_pid" value="[% cur_pid %]">
<input type="submit" value="追加">
<input type="reset" value="リセット">
</div>
</form>

<script type="text/javascript">
  tweak_ToggleClass('path_add', 'ui_hidden');
</script>
