[% IF ! did.defined %]
  <ul>
    <li><label for="filename">新しい[% terms.document %]の名前:</label> <tt>
      [%- IF pid == -1 %]
        <select name="pid" onChange="AllPathChange();" id="pid">
        </select>/
        <script type="text/javascript">
        <!--
          SetPathSelect('pid', 0);
        -->
        </script>
      [%- ELSE %]
        <input type="hidden" name="pid" value="[% pid %]">
        /[% full_path FILTER html %]
      [%- END -%]
    </tt><input type="text" name="filename" value="" size="50"></li>
    <li><label>セキュリティーフラグを設定する (ダウンロード時に暗号化): <input type="checkbox" name="secure" /></label></li>
  </ul>
  <p><label for="docdesc">新しい [% terms.document %] の説明 (markdown書式が利用可能)</label></p>
  <div><textarea name="docdesc" rows="10" class="inputwide"></textarea></div>
  <h4>新規[% terms.document %]に付けるラベル</h4>
  <ul>
    [% FOREACH item = Label.keys -%]
      <li><label><input type="checkbox" name="label" value="[% item %]" />
        [% Label.$item.name %] ([% Label.$item.description %])</label></li>
    [%- END %]
  </ul>
[% ELSE %]
  <input type="hidden" name="did" value="[% doc_info.docid %]">
[% END %]

<h4>[% terms.document %]に追加するファイルの選択</h4>

<p>
  <label>
  <input type="radio" name="source" value="upload" checked="checked" /> ローカルファイルをアップロード:</label> 
  <input type="file" name="target_file" size="80" />
  <br />
  10MB程度以上のファイルをアップロードしようとした場合、ブラウザやサーバの状況に
  よってはタイムアウトする可能性があります。
  [% IF Param.dav_uri != "" %]
    その場合、下のチェックボックスを選択し、
    <a href="[% Param.dav_uri %]">WebDAV</a>
    に先にアップロードしたファイルから追加する機能を利用してください。
    (<a href="http://www.google.co.jp/search?q=webdav">WebDAVとは</a>)
  [% END %]
</p>

[% IF dav_file.defined && Param.dav_uri != "" %]
  <p>
    [% IF dav_file.keys.size == 0 %]
      WebDAV領域にファイルはありません。
    [% ELSE %]
      <label>
      <input type="radio" name="source" value="dav" /> WebDAVに置いたファイルを利用 :</label>
      <select name="dav_source">
        [% FOREACH item IN dav_file.keys %]
          <option value="[% item %]">[% item %] ([% SizeDisp(dav_file.$item) %])</option>
        [% END %]
      </select>
    [% END %]
  </p>
[% END %]

<p><label>このファイルへのコメント: <input type="text" name="comment" value="" size="80"></label></p>
<p>この[% terms.file %]の情報
<ul>
  <li>作成者: <tt>[% User.uid FILTER html %]</tt></li>
  <li>作成日: (アップロード日時)</li>
  <li>バージョン: [% IF ! did.defined %]1.0<input type="hidden" name="version" value="1.0" />[% ELSE %]<input type="text" size="10" name="version" value="[% doc_info.next_version %]" />[% END %]</li>
</ul></p>

<h4>通知</h4>

<p><label>次のメールアドレスに通知を送信する:
<input type="text" name="demail" value="" size="50"><br />
複数の場合、カンマ(<b>,</b>)区切りでメールアドレスを入力してください。</label></p>

