[% paths_exist = 1 IF paths.size > 0 %]
[% docs_exist = 1  IF docs.size > 0 %]

<table class="dirlist">
  <tr>
    <th></th>
    <th>名前</th>
    <th class="description">説明</th>
    [% IF docs_exist %]<th colspan="4">最新版</th>[% END %]
    <th>グループ</th>
    <th>ラベル</th>
  </tr>

[% IF upper_path.defined AND upper_path > -1 %]
  <tr class="upper_path row_even">
    <td class="docmanage"></td>
    <td class="path">[% INCLUDE show_table_icon id = 'dir_up' %]
      <a href="pathinfo.cgi?pid=[% upper_path %]">一つ上</a></td>
    <td></td>
    [% IF docs_exist %]<td colspan="4"></td>[% END %]
    <th>---</th>
    <th>---</th>
  </tr>
[% END %]

[% FOREACH item IN paths %]
  [% count = loop.count() %]
  <tr 
    class="
      path_[% item.pathid %]
      [% count % 2 == 1 ? "row_odd" : "row_even" %]
     ">
    <td class="docmanage">
      [% IF InList(User.favs_path, item.pathid) %]
        <img id="fav_p[% item.pathid %]" class="fav_on" src="skins/images/woofunction/16/star.png">
      [% ELSE %]
        <img id="fav_p[% item.pathid %]" class="" src="skins/images/woofunction/16/star_off.png">
      [% END %]
      <a href="dirget.cgi?pid=[% item.pathid %]">[% INCLUDE show_table_icon id = 'download' %]</a>
      </td>
    <td class="path">[% INCLUDE show_table_icon 
        id = 'dir' html_id = "path_${item.pathid}" %]
      [% pop_list.push("path_${item.pathid}") %]
      [%- IF cpname.defined %]
        <a href="path[% IF cpname != '' %]/[% cpname FILTER path_url %][% END %]/[% item.pathname FILTER path_url %]/">[% item.pathname FILTER html %]</a>
      [% ELSE %]
        <a href="pathinfo.cgi?pid=[% item.pathid %]">[% item.pathname FILTER html %]</a>
      [% END -%]
      </td>
    <td class="pathdesc">[% item.short_description FILTER html %]</td>
    [% IF docs_exist %]<th colspan="4"></th>[% END %]
    <td class="group">
      [% IF item.gname.defined %][% item.gname.join(',') FILTER html %][% ELSE %]制限なし[% END %]
      <a href="pathgroup.cgi?pid=[% item.pathid %]">[% INCLUDE show_table_icon id = 'group_add' %]</a>
      </td>
    <td class="label">---</td>
  </tr>
<script type="text/javascript">
  var fav_mod_path_[% item.pathid %] = function() { tweak_ToggleFavPath('[% item.pathid %]'); }
  YAHOO.util.Event.on('fav_p[% item.pathid %]', 'click', fav_mod_path_[% item.pathid %]);
</script>
[% END %]


[% FOREACH item IN docs %]
  [% count = loop.count() %]
  <tr 
    class="
      doc_[% item.docid %]
      [% count % 2 == 1 ? "row_odd" : "row_even" %]
     ">
    <td class="docmanage">
      [% IF InList(User.favs, item.docid) %]
        <img id="fav_[% item.docid %]" class="fav_on" src="skins/images/woofunction/16/star.png">
      [% ELSE %]
        <img id="fav_[% item.docid %]" class="" src="skins/images/woofunction/16/star_off.png">
      [% END %]
      <a href="attribute.cgi?target=doc&method=get&id=[% item.docid %]">[% INCLUDE show_table_icon id = 'attribute' %]</a>
      <a href="fileget.cgi?fid=[% item.lastfile.fileid %]">[% INCLUDE show_table_icon id = 'download' %]</a>
      </td>
    <td class="path">
      [%- INCLUDE show_mime_icon 
        id = item.lastfile.fileext
        html_id = "doc_${item.docid}" -%]
      [% pop_list.push("doc_${item.docid}") %]
      <a href="docinfo.cgi?did=[% item.docid %]">[% item.filename FILTER html %]</a></td>
    <td class="pathdesc">[% item.short_description FILTER html %]</td>
    [% IF item.lastfile.defined %]
      <td>[% item.lastfile.uname %]</td>
      <td>[% item.lastfile.uptime %]</td>
      <td class="docsize">[% SizeDisp(item.lastfile.size) %]</td>
      <td><a href="docupdate.cgi?did=[% item.docid %]">[% INCLUDE show_table_icon id = 'fileup' %]</a></td>
    [% ELSE %]
      <td colspan="3" class="center">存在しません</td>
      <td><a href="docupdate.cgi?did=[% item.docid %]">[% INCLUDE show_table_icon id = 'fileup' %]</a></td>
    [% END %]
    <td class="group">
      [% IF item.gname.defined %]
      [% FOREACH gid = item.gname %][% IF NOT loop.first %], [% END %][% gid FILTER html %][% END %]
      [% ELSE %]制限なし[% END %]
      <a href="docgroup.cgi?did=[% item.docid %]">[% INCLUDE show_table_icon id = 'group_add' %]</a>
      </td>
    <td class="label">
      [% IF item.labelid.defined %]
      [% FOREACH lid = item.labelid %][% IF NOT loop.first %], [% END %][% Label.$lid.name FILTER html %][% END %]
      [% ELSE %]ラベルなし[% END %]
      <a href="doclabel.cgi?did=[% item.docid %]">[% INCLUDE show_table_icon id = 'label_add' %]</a>
      </td>
  </tr>
<script type="text/javascript">
  var fav_mod_[% item.docid %] = function() { tweak_ToggleFav('[% item.docid %]'); }
  YAHOO.util.Event.on('fav_[% item.docid %]', 'click', fav_mod_[% item.docid %]);
</script>
[% END %]

[% IF ! pop_list_id.defined %][% pop_list_id = 1 %]
[% ELSE %][% pop_list_id = pop_list_id + 1 %][% END %]

<script type="text/javascript">
  YAHOO.namespace('dst.container');
  function dst_init[% pop_list_id %] () {
    YAHOO.dst.container.panel[% pop_list_id %] = 
        new YAHOO.widget.Panel("panel[% pop_list_id %]", 
            { width:"500px", visible:false, constraintoviewport:true } );
    YAHOO.dst.container.panel[% pop_list_id %].setHeader("Detailed information");
    YAHOO.dst.container.panel[% pop_list_id %].setBody("");
    YAHOO.dst.container.panel[% pop_list_id %].setFooter("");
    YAHOO.dst.container.panel[% pop_list_id %].render("container");
    [% FOREACH item IN pop_list %]
      YAHOO.util.Event.addListener("[% item %]", "click", dst_show_panel[% pop_list_id %]);
    [%- END %]
  }
  YAHOO.util.Event.addListener(window, "load", dst_init[% pop_list_id %]);
  function dst_show_panel[% pop_list_id %] (obj) {
    YAHOO.dst.container.panel[% pop_list_id %].setBody(obj.target.id);
    YAHOO.dst.container.panel[% pop_list_id %].show();
  }
</script>

</table>
