[% PROCESS global/header.html.tmpl
  page_title = "Search result"
%]

[% IF list_path.defined %]
<h3>[% terms.path %] results</h3>
  [% INCLUDE entry/table.html.tmpl       paths = list_path    docs = {}
                                         def_popup = 1
  %]
[% END %]

[% IF list_doc.defined %]
<h3>[% terms.document %] and [% terms.file %] results</h3>
<table class="dirlist tablesorter">
<tbody>
<tr>
  <th rowspan="2"></th>
  <th rowspan="2">Name</th>
  <th rowspan="2">Description</th>
  <th colspan="3">[% terms.file %]</th>
  <th rowspan="2">Group</th>
  <th rowspan="2">Label</th>
</tr><tr>
  <th>Uploader</th>
  <th>Date</th>
  <th>Size</th>
</tr>
[% FOREACH item IN list_doc.keys %]
<tr>
  <td>
    <a href="attribute.cgi?target=file&amp;method=get&amp;id=[% list_doc.$item.fid.0 %]">[% INCLUDE show_table_icon id = 'attribute' %]</a>
    <a href="fileget.cgi?fid=[% list_doc.$item.fid.0 %]">[% INCLUDE show_table_icon id = 'download' %]</a>
  </td>
  <td rowspan="[% list_doc.$item.fid.size() %]"><a href="docinfo.cgi?did=[% list_doc.$item.docid %]">[% list_doc.$item.fullname FILTER html %]</a></td>
  <td rowspan="[% list_doc.$item.fid.size() %]">[% list_doc.$item.short_description FILTER html %]</td>
  [% zeroid = list_doc.$item.fid.0 %]
  <td>[% list_file.$zeroid.uname FILTER html %]</td>
  <td>[% list_file.$zeroid.uptime FILTER html %]</td>
  <td>[% SizeDisp(list_file.$zeroid.size) %]</td>
  <td class="group" rowspan="[% list_doc.$item.fid.size() %]">
    [% IF list_doc.$item.gname.defined %]
      [% FOREACH gid = list_doc.$item.gname %][% IF NOT loop.first %], [% END %][% gid FILTER html %][% END %]
    [% ELSE %](none)
    [% END %]
    <a href="docgroup.cgi?did=[% list_doc.$item.docid %]">[% INCLUDE show_table_icon id = 'group_add' %]</a>
    </td>
  <td class="label" rowspan="[% list_doc.$item.fid.size() %]">
    [% IF list_doc.$item.labelid.defined %]
      [% FOREACH lid = list_doc.$item.labelid %][% IF NOT loop.first %], [% END %][% Label.$lid.name FILTER html %][% END %]
      [% ELSE %]No label[% END %]
      <a href="doclabel.cgi?did=[% item.docid %]">[% INCLUDE show_table_icon id = 'label_add' %]</a>
      </td>
</tr>
[% FOREACH cfid IN list_doc.$item.fid %][% IF NOT loop.first %]
<tr>
  <td>
    <a href="attribute.cgi?target=file&amp;method=get&amp;id=[% cfid %]">[% INCLUDE show_table_icon id = 'attribute' %]</a>
    <a href="fileget.cgi?fid=[% cfid %]">[% INCLUDE show_table_icon id = 'download' %]</a>
  </td>
  <td>[% list_file.$cfid.uname FILTER html %]</td>
  <td>[% list_file.$cfid.uptime FILTER html %]</td>
  <td>[% SizeDisp(list_file.$cfid.size) %]</td>
</tr>
[% END %][% END %]
</tr>
[% END %]
</tbody>
</table>
[% ELSE %]
<h3>No result found.</h3>
[% END %]

[% PROCESS global/footer.html.tmpl %]
