[% PROCESS global/header.html.tmpl
  page_title = "Search result"
%]

[% IF search_result.defined %]
  [% INCLUDE entry/table.html.tmpl       paths = {}    docs = search_result
                                         def_popup = 1
  %]
[% ELSE %]
  <p>No result found.</p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
