[% PROCESS global/header.html.tmpl
  current_page = "search"
  page_title = "Set search conditions"
%]

<form action="query.cgi" method="POST">
[% INCLUDE global/formopt.html.tmpl %]

<div id="error">
<div class="info">
Full text search is on development. <br />
If you use full text search, any search condition on the [% terms.document %] information 
or index will be ignored. <br />
Current suppoerted formats of full text index are:
[% constants.HE_FILE_FILTER.keys.sort.join(', ') %].
</div>
</div>

<h3>Full text indexed search</h3>

<p>Please specify the 
<a href="http://fallabs.com/hyperestraier/uguide-en.html#searchcond">search condition format of HyperEstraier</a>
directly into this box.</p>

<input type="text" name="docs_he" value="" size="100"></input>


<h3>Search by information of [% terms.document %]</h3>

<p>You can search by name, description and labels of [% terms.document %].
If you don't specify in some category (name, description etc), these categories 
will be simply ignored.</p>

<p>
Display items match 
<select name="global_cond">
  <option value="AND" selected="selected">ALL</option>
  <option value="OR">ANY</option>
</select>
of following condition for categories.
</p>

<h4>Name of [% terms.document %]</h4>

<div>Under construction</div>

<h4>Description of [% terms.document %]</h4>

<div>
Search [% terms.document %] with its description contains 
<select name="docreg_desc_cond">
  <option value="and" selected="selected">all of</option>
  <option value="or">any of</option>
</select>
words of: 
<input type="text" name="docreg_desc" value="[% linfo.name %]" size="100"></input>
</div>

<div>Please specify multiple words in separated with white space (" ").
You cannot specify words quoted with "".</div>

<h4>Labels for [% terms.document %]</h4>

<div>Search [% terms.document %] with 
<select name="doc_label_cond">
  <option value="and" selected="selected">ALL</option>
  <option value="or">ANY</option>
</select>
of the following labels :

<select name="doc_label" size="5" multiple="multiple">
  [% FOREACH item = Label.keys %]
    <option value="[% item %]">[% Label.$item.name %]</option>
  [% END %]
</select>
</div>


<div>
<input type="submit" value="Search">
<input type="reset">
</div>

</form>

[% PROCESS global/footer.html.tmpl %]
