[% PROCESS global/header.html.tmpl
  current_page = "search"
  page_title = "Set search conditions"
%]

<form action="search.cgi" method="POST">
[% INCLUDE global/formopt.html.tmpl %]

<p>
To use each condition, check the box just before each title.
Merge results as <select name="global_cond">
<option value="AND" selected="selected">ALL</option>
<option value="OR">OR</option></select>.
<br />
Note, [% terms.path %] matched in each section except for <em>restriction</em> 
part will be shown in separated and not taken in account for 
[% terms.document %] matching (to prevent showing all [% terms.document %] in 
matched [% terms.path %]).
</p>

<div class="searchcond">
<h3>Search conditions</h3>

<p><label>
<input type="checkbox" name="searchcond" value="sc_full" checked="checked">
Full text indexed search</label></p>
<div class="searchcond">
<p>Current suppoerted formats of full text index are:
[% constants.HE_FILE_FILTER.keys.sort.join(', ') %].
Evey file in these formats will be queried, but any others will be just 
ignored.</p>
<p><input type="text" name="fullindex" value="" class="inputwide"></p>
</div>

<p><label><input type="checkbox" name="searchcond" value="sc_name">
Search by name</label>:
<input type="text" name="cnd_name" value="" size="60"></p>

<p><label><input type="checkbox" name="searchcond" value="sc_desc">
Search by description</label>:
<input type="text" name="cnd_desc" value="" size="60"></p>

</div>
<div class="searchcond">
<h3>Restrictions</h3>
<p>To be implemented.</p>
</div>


<p>
<input type="submit" value="Search">
<input type="reset">
</p>

</form>

[% PROCESS global/footer.html.tmpl %]
