[% PROCESS global/header.html.tmpl
  page_title = "Document access log"
%]

<h3>File access log for document ID [% id %]</h3>

<table border="1">
<thead>
  <tr>
    <th>[% terms.file %] ID</th><th>User name</th>
    <th>Date Time</th><th>Source IP address</th>
  </tr>
</thead>
<tbody>
  [% FOREACH query = jsondata %]
  <tr>
    <td>[% query.fileid %]</td><td>[% query.uname %]</td>
    <td>[% query.dltime %]</td><td>[% query.srcip %]</td>
  </tr>
  [% END %]
</tbody>
</table>

[% PROCESS global/footer.html.tmpl %]
