[% PROCESS global/header.html.tmpl
  page_title = "File access log"
%]

<h3>File access log for File ID [% id %]</h3>

<table border="1">
<thead>
  <th>
    <td>[% terms.file %] ID</td><td>User name</td>
    <td>Date Time</td><td>Source IP address</td>
  </th>
</thead>
<tbody>
  [% FOREACH query = jsondata %]
  <tr>
    <td>[% query.fileid %]</td><td>[% query.uname %]</td>
    <td>[% query.dltime %]</td><td>[% query.srcip FILTER ipaddr %]</td>
  </tr>
  [% END %]
</tbody>
</table>

[% PROCESS global/footer.html.tmpl %]
