{"type":"[% type %]","data":{
  [%- FOREACH hid IN jsondata.keys %]
    [%- IF ! loop.first %], [% END %]"[% hid %]":{
    [%- FOREACH hkey IN jsondata.$hid.keys %]
      [%- IF ! loop.first %], [% END %]"[% hkey %]":"[% jsondata.$hid.$hkey FILTER js %]"
    [% END %]}
  [%- END %]}}
