[% PROCESS global/header.html.tmpl
  current_page = "admin"
  page_title = "Preference setting page for adnimistrators"
%]

<h3>List of avail preferences</h3>

<ul>
  <li><a href="editicon.cgi">Edit icon definitions</a>
    <ul>
      <li><a href="editicon.cgi?class=table">Icons for tables</a>
        (Icons indicates for [% terms.path %] or [% terms.document %] etc. 
        in tables.)</li>
      <li><a href="editicon.cgi?class=mime">MIME icon</a>
        (Icons for MIME type indicators which are displayed with [% terms.document %] or [% terms.file %].)</li>
      </ul></li>
</ul>


[% PROCESS global/footer.html.tmpl %]
