[% PROCESS global/header.html.tmpl %]

[% IF added.defined %]
  <h3>New [% terms.document %] [% added FILTER html %] have added into the 
    [% terms.path %] '[% full_path FILTER html %]'.</h3>
[% ELSE %]
  <h3>Add new [% terms.document %]</h3>
  <form action="docadd.cgi" name="docadd_set" method="POST" enctype="multipart/form-data">
    [% PROCESS global/formopt.html.tmpl %]
    [% INCLUDE entry/docform.html.tmpl  pid = pid %]
    <input type="hidden" name="pid" value="[% path_info.pathid %]">
    <input type="submit" value="Add document">
    <input type="reset" value="Reset">
  </form>
[% END %]

<hr>

<ul>
  <li>Name of this [% terms.path %]: 
    <a id="hidurl" href="pathinfo.cgi?pid=[% path_info.pathid FILTER html %]"><span id="fullpath">[% full_path FILTER html %]</span>
    (<span id="hid">[% path_info.pathid FILTER html %]</span>)</a></li>
  [% IF pid == -1 %]
    <li>Accessible groups (OR): 
      [% IF group_list.size > 0 %][% group_list.join(', ') %]
      [% ELSE %](undefined)[% END %]</li>
  [% END %]
</ul>
<div id="desc" class="markdown">[% path_info.description FILTER markdown %]</div>

[% IF pid != -1 %]
  [% INCLUDE entry/table.html.tmpl       paths = path_list
                                         docs = doc_list 
                                         cpname = full_path
                                         def_popup = 1
                                         cur_pid = pid
  %]
[% END %]
[% IF pid == -1 %]
  <script type="text/javascript" src="json.cgi?format=js&amp;type=allpath"></script>
  <script type="text/javascript"><!--
    AllPathChange();
  --></script>
[% END %]
[% PROCESS global/footer.html.tmpl %]
