[% PROCESS global/header.html.tmpl %]

<h3>[% terms.file %] history</h3>

<p>Different formatted [% terms.file %] uploaded into the same [% terms.document %] 
(uploaded in a short time interval) might be a different format of the same 
version of [% terms.document %].
Please check descriptions of [% terms.file %] carefully.</p>

[% INCLUDE entry/filelist.html.tmpl   files = file_list %]

<h3>Informations for [% terms.document %]</h3>

<form method="POST" action="docinfo.cgi">
<ul>
  <li>Full [% terms.path %]: 
    <span id="doc_name_raw">
      <tt><a href="pathinfo.cgi?path=[% full_path %]">/[% full_path %]</a></tt>
      <tt>[% doc_info.filename %]</tt></span>
    <span id="doc_name_edit" class="ui_hidden">
      <select name="new_pathid" onChange="AllPathChange();">
        <option value="0" [% IF doc_info.pathid == -1 %]selected="selected"[% END %]>/</option>
        [% FOREACH hid IN allpath.keys.nsort %]
          <option value="[% hid %]" [% IF hid == doc_info.pathid %]selected="selected" [% END %]>[% allpath.$hid.fullpath %]</option>
        [%- END %]
      </select>/<input type="text" size="50" name="new_name" value="[% doc_info.filename %]"></span>
    [% IF InList(file_uname, User.uid) %]
      <span id="update_link"><a href="javascript: doc_info_update();">Update</a></span>
    [% END %]</li>
  <li>Security flag (encrypt for download): 
    <span id="doc_sec_raw">[% IF doc_info.secure == 1 %]Set[% ELSE %]Unset[% END %]</span>
    <span id="doc_sec_edit" class="ui_hidden"><input type="checkbox" name="secure" [% IF doc_info.secure == 1 %]checked="checked"[% END %] /></span>
    </li>
  <li>Accessible groups (OR): 
    [% IF group_list.size > 0 %][% group_list.join(', ') %]
    [% ELSE %](undefined)[% END %]
    <a href="docgroup.cgi?did=[% doc_info.docid %]">[% INCLUDE show_table_icon id = 'group_add' %]</a>
    </li>
  <li>Labels: 
    [% IF doc_labels.size > 0 %]
      [% FOREACH item IN doc_labels %]
        [% IF NOT loop.first %], [% END %]
        <span title="[% Label.$item.description %]">[% Label.$item.name %]</span>
      [% END %]
    [% ELSE %](undefined)[% END %]
    <a href="doclabel.cgi?did=[% doc_info.docid %]">[% INCLUDE show_table_icon id = 'label_add' %]</a>
    </li>
</ul>
<p>Description of [% terms.file %]</p>
    <div id="doc_desc_raw">[% doc_info.description FILTER markdown %]</div>
    <div id="doc_desc_edit" class="ui_hidden"><textarea rows="10" cols="100" name="new_description">[% doc_info.description FILTER html %]</textarea></div>
<div id="doc_update" class="ui_hidden">
  <input type="submit" value="Update">
</div>
<input type="hidden" name="did" value="[% doc_info.docid %]">
<input type="hidden" name="old_name" value="[% doc_info.filename %]">
<input type="hidden" name="old_pathid" value="[% doc_info.pathid %]">
<input type="hidden" name="old_description" value="[% doc_info.description FILTER html %]">
<input type="hidden" name="old_secure" value="[% doc_info.secure %]">
</form>

<script type="text/javascript" src="json.cgi?format=js&amp;type=allpath"></script>
<script type="text/javascript"><!--
  AllPathChange();
--></script>
<script type="text/javascript">
<!--
function doc_info_update () {
  YAHOO.util.Dom.addClass(document.getElementById('doc_name_raw'), 'ui_hidden');
  YAHOO.util.Dom.removeClass(document.getElementById('doc_name_edit'), 'ui_hidden');
  YAHOO.util.Dom.addClass(document.getElementById('doc_sec_raw'), 'ui_hidden');
  YAHOO.util.Dom.removeClass(document.getElementById('doc_sec_edit'), 'ui_hidden');
  YAHOO.util.Dom.addClass(document.getElementById('doc_desc_raw'), 'ui_hidden');
  YAHOO.util.Dom.removeClass(document.getElementById('doc_desc_edit'), 'ui_hidden');
  YAHOO.util.Dom.removeClass(document.getElementById('doc_update'), 'ui_hidden');
  YAHOO.util.Dom.addClass(document.getElementById('update_link'), 'ui_hidden');
}
// -->
</script>

[% IF UpDoc(doc_info.docid) || Admin %]
<h3>Access log</h3>

[% INCLUDE entry/activity.html.tmpl   activity = activity %]
[% END %]

[% PROCESS global/footer.html.tmpl %]
