[% PROCESS global/header.html.tmpl %]

<h3>Current</h3>
<ul>
  <li>Full name: <tt>[% full_path %][% doc_info.filename %]</tt></li>
  <li>[% terms.document %] ID: [% doc_info.docid %]</li>
  <li>[% terms.path %] ID: [% doc_info.pathid %]</li>
  <li>[% terms.file %] name: [% doc_info.filename %]</li>
  <li>Description: [% doc_info.description %]</li>
  <li>Accessible groups (OR): [% group_list.join(', ') %] </li>
</ul>

<h3>Update Labels</h3>


<form action="doclabel.cgi" method="POST">
[% INCLUDE global/formopt.html.tmpl %]
<ul>
[% FOREACH item = Label.keys %]
  <li><input type="checkbox" name="newlabel" value="[% Label.$item.labelid %]"
    [% IF InList(label_list, Label.$item.labelid) %]checked="checked"[% END %]
    >[% Label.$item.name %]</input></li>
[% END %]
</ul>
<input type="hidden" name="did" value="[% doc_info.docid %]" />
<input type="submit" value="UPDATE" />
<input type="reset" />
</p>
</form>

[% PROCESS global/footer.html.tmpl %]
