[% PROCESS global/header.html.tmpl %]

[% IF added.defined %]
  <h3>New [% terms.file %] has been added into [% terms.document %]
  '[% full_path FILTER html %][% doc_info.filename %]'.</h3>
[% ELSE %]
  <h3>Add new [% terms.file %] to the [% terms.document %] - <tt>[% full_path %][% doc_info.filename %]</tt></h3>
  <form action="docupdate.cgi" method="POST" enctype="multipart/form-data">
    [% PROCESS global/formopt.html.tmpl %]
    [% INCLUDE entry/docform.html.tmpl %]
    <p>Send notification to email: <input type="text" name="demail" value="" size="50"></p>
    <input type="hidden" name="did" value="[% doc_info.docid %]">
    <input type="submit" value="Update [% terms.document %]">
    <input type="reset" value="Reset">
  </form>
[% END %]

<hr>

<p>Description of [% terms.document %]</p>
<div class="markdown">[% doc_info.description FILTER markdown %]</div>
<ul>
  <li>Group restriction (OR):
    [% IF group_list.size > 0 %][% group_list.join(', ') %]
    [% ELSE %](undefined)[% END %]</li>
</ul>

[% INCLUDE entry/filelist.html.tmpl   files = file_list %]

[% PROCESS global/footer.html.tmpl %]
