[% PROCESS global/header.html.tmpl
  current_page = "favs"
  page_title = "Your $terms.favorite"
%]

<h3>List of your [% terms.favorite %][% terms.document %]</h3>

[% INCLUDE favorite/table.html.tmpl    favpath = favs_path  favlist = favs %]

[% PROCESS global/footer.html.tmpl %]
