[% PROCESS global/header.html.tmpl
  current_page = "index"
  page_title = "Main page"
%]

<h3>List of [% terms.path %]</h3>

[% INCLUDE entry/table.html.tmpl       paths = topdirs   docs = doc_list  cpname = '' %]

<h3>Recently updated [% terms.document %]</h3>

[% INCLUDE entry/table.html.tmpl       docs = recent %]

<h3>Your [% terms.favorite %]</h3>

[% INCLUDE favorite/table.html.tmpl    favpath = favs_path  favlist = favs %]



[% PROCESS global/footer.html.tmpl %]
