[%- terms = {
    "sitename"       => "SuMIRe/PFS - Prime Focus Spectrograph Project",
    "sitedomain"     => "pfs.ipmu.jp",

    "path"           => "Directory",
    "document"       => "Document",
    "file"           => "File",
    "favorite"       => "Favorite",

    "icon_def"       => "crystal_project-16/mimetypes/unknown.png",
 }
%]
[%- header_links_def = {
    "index"    => { "name" => "Home", "url" => "$UConf.home.value" },
    "dir"      => { "name" => "/", "url" => "pathinfo.cgi?pid=0" },
    "add"      => { "name" => "Add new", "url" => "docadd.cgi?pid=-1" },
    "labels"   => { "name" => "Label", "url" => "labellist.cgi"},
    "favs"     => { "name" => "$terms.favorite", "url" => "favlist.cgi"},
    "recent"   => { "name" => "RecentChanges", "url" => "recent.cgi"},
    "search"   => { "name" => "Search", "url" => "search.cgi"},
    "admin"    => { "name" => "Administrate", "url" => "admin.cgi", group => Param.admingroup },
    "config"   => { "name" => "Config", "url" => "config.cgi" },
 }
%]
[% BLOCK site_announce %]
[% END %]

[%- user_config_help = {
    "history"    => "Max dates for RecentChanges list",
    "email"      => "Send e-mail when $terms.document in $terms.favorite is updated",
    "home"       => "Your personal Home page, set address after the last '/' (such as \"index.cgi\")",
 }
%]

[%# HTML definitions for icon
  #   id : icon ID
  #%]
[%- BLOCK show_table_icon %]<img 
  [%- IF IcoTable.$id.defined -%]
    src="skins/images/[% IcoTable.$id.value %]" title="[% IcoTable.$id.tiphelp %]"
  [%- ELSE -%]
    src="skins/images/[% terms.icon_def %]" title="Icon undefined"
  [%- END %]
  [% IF html_id.defined %]id="[% html_id FILTER html %]"[% END -%]
  [% IF html_class.defined %]class="[% html_class FILTER html %]"[% END -%]
/>[% END -%]

[%- BLOCK show_mime_icon %]<img 
  [%- IF IcoMime.$id.defined -%]
    src="skins/images/[% IcoMime.$id.value %]" title="[% IcoMime.$id.tiphelp %]"
  [%- ELSE -%]
    src="skins/images/[% terms.icon_def %]" title="Icon undefined"
  [%- END %]
  [% IF html_id.defined %]id="[% html_id FILTER html %]"[% END -%]
  [% IF html_class.defined %]class="[% html_class FILTER html %]"[% END -%]
/>[% END %]
