[% PROCESS global/header.html.tmpl
  page_title = "List of configuration"
%]

<h3>List of configuration for : [% type %]</h3>

[% fkey = jsondata.keys.0 %]
[% hkeys = jsondata.$fkey.keys %]

<table border="1">
<thead>
  <tr>[% FOREACH hkey IN hkeys %]<td>[% hkey %]</td>[% END %]</tr>
</thead>
<tbody>
  [% FOREACH hid IN jsondata.keys.sort %]
    <tr>[% FOREACH hkey IN hkeys %]<td>[% jsondata.$hid.$hkey %]</td>[% END %]</tr>
  [% END %]
</tbody>
</table>

[% PROCESS global/footer.html.tmpl %]
