[% PROCESS global/header.html.tmpl
  page_title = "List of avail labels"
%]

<table class="labellist">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Group Restrictions</th>
  </tr>
[% FOREACH item = labels.keys %]
  [% count = loop.count() %]
  <tr 
    class="
      label_[% item %]
      [% count % 2 == 1 ? "row_odd" : "row_even" %]
     ">
    <td><a href="labeledit.cgi?lid=[% item %]">[% item %]</a></td>
    <td>[% labels.$item.name %]</td>
    <td>[% labels.$item.description %]</td>
    <td>[% IF labels.$item.group.size == 0 %]No Access Restriction[% ELSE %]
        [% labels.$item.group.join(', ') %][% END %]</td>
  </tr>
[% END %]
</table>

<div><a href="labeledit.cgi">Add new label</a></div>

[% PROCESS global/footer.html.tmpl %]
