[% PROCESS global/header.html.tmpl
  current_page = "pathinfo"
  page_title = "Succeeded to add new $terms.path - $full_path"
%]

<h3>Current information for <a href="pathinfo.cgi?pid=[% path_info.pathid %]">[% terms.path %] ([% full_path %])</a></h3>

[% IF pid == 0 %]
  <p>This is the top level [% terms.path %]</p>
[% ELSE %]
  <ul>
    <li>ID: [% path_info.pathid %]</li>
    <li>Full [% terms.path %] name: [% full_path %]</li>
    <li>Upper: <a href="pathinfo.cgi?pid=[% path_info.parent %]">[% path_info.parent %]</a></li>
    <li>Short description: [% path_info.short_description FILTER html %]</li>
    <li>Name: [% path_info.pathname %]</li>
    <li>Group restriction: [% path_info.gname.join(', ') %]</li>
  </ul>
  <div>[% path_info.description FILTER markdown %]</div>
[% END %]


[% PROCESS global/footer.html.tmpl %]
