[% PROCESS global/header.html.tmpl %]

<h3>Current settings</h3>
<ul>
  <li>Path ID: [% path_info.pathid %]</li>
  <li>Full [% terms.path %]: [% full_path %]</li>
  <li>Parenet: [% path_info.parent %]</li>
  <li>Name: [% path_info.pathname %]</li>
  <li>Description: [% path_info.description %]</li>
  <li>Group restrictions: [% permission.join(', ') %] </li>
</ul>

<h3>Update the group restrictions</h3>

<p>Users in any of groups specified here will be able to view any [% terms.document %] 
in this [% terms.path %]. Group restrictions are evaluated in 'OR'.
Without any check mark, no group restrictions will be set, and any user can view 
any [% terms.document %] in this [% terms.path %].</p>

<form action="pathgroup.cgi" method="POST">
[% INCLUDE global/formopt.html.tmpl %]
<ul>
[% FOREACH item = all_groups.keys %]
  <li><input type="checkbox" name="newgroup" value="[% item %]"
    [% IF all_groups.$item == 1 %]checked="checked"[% END %]
    >[% item %]</input></li>
[% END %]
</ul>
<input type="hidden" name="pid" value="[% path_info.pathid %]" />
<input type="submit" value="UPDATE" />
<input type="reset" />
</p>
</form>

[% PROCESS global/footer.html.tmpl %]
