[% PROCESS global/header.html.tmpl
  current_page = "pathinfo"
  page_title = "Information of $terms.path - $full_path"
%]

<h3>Current information for [% terms.path %] ([% full_path %])</h3>

[% IF pid == 0 %]
  [% INCLUDE entry/table.html.tmpl       upper_path = -1
                                         paths = spath_list  docs = doc_list cpname = '' %]
[% ELSE %]
  [% INCLUDE entry/table.html.tmpl       upper_path = path_info.parent
                                         paths = spath_list  docs = doc_list cpname = full_path %]
[% END %]

[% IF pid != 0 %]
  <form method="POST" action="pathinfo.cgi">
  [% PROCESS global/formopt.html.tmpl %]
  <ul>
    <li id="path_name_edit" class="ui_hidden">Move/Change this [% terms.path %] to: 
      <select name="new_parent" onChange="AllPathChange();">
        <option value="0" [% IF path_info.parent == -1 %]selected="selected"[% END %]>/</option>
        [% FOREACH hid IN allpath.keys.nsort %]
          <option value="[% hid %]" [% IF hid == path_info.parent %]selected="selected" [% END %]>[% allpath.$hid.fullpath %]</option>
        [%- END %]
      </select>/<input type="text" name="new_name" size="50" value="[% path_info.pathname FILTER html %]"></li>
    <li>[% terms.path %] information: 
      <span id="path_desc_raw">[% path_info.description FILTER html %]</span>
      <span id="path_desc_edit" class="ui_hidden"><input type="text" name="new_description" size="150" value="[% path_info.description FILTER html %]"></span>
      [% IF Admin %]
        <span id="update_link"><a href="javascript: doc_info_update();">Update or Move</a></span>
      [% END %]</li>
    <li>Group restrictions (OR): 
      [% IF path_info.gname.size > 0 %][% path_info.gname.join(', ') %]
      [% ELSE %](undefined)[% END %]</li>
  </ul>
  <div id="path_update" class="ui_hidden">
    <input type="submit" value="Update">
  </div>
  <input type="hidden" name="pid" value="[% path_info.pathid %]">
  <input type="hidden" name="old_name" value="[% path_info.pathname FILTER html %]">
  <input type="hidden" name="old_parent" value="[% path_info.parent FILTER html %]">
  <input type="hidden" name="old_description" value="[% path_info.description FILTER html %]">
  </form>

  <ul id="path_desc_json" class="ui_hidden">
    <li>Target [% terms.path %] information: 
      <a id="hidurl" href="pathinfo.cgi?pid=[% path_info.pathid FILTER html %]"><span id="fullpath">[% full_path FILTER html %]</span> (<span id="hid">[% path_info.pathid FILTER html %]</span>)</a> - <span id="desc">[% path_info.description FILTER html %]</span></li>
    <li>Group restriction: 
      [% IF group_list.size > 0 %][% group_list.join(', ') %]
      [% ELSE %](undefined)[% END %]</li>
  </ul>
  <script type="text/javascript" src="json.cgi?format=js&amp;type=allpath"></script>
  <script type="text/javascript"><!--
    AllPathChange();
  --></script>

  <script type="text/javascript">
  <!--
  function doc_info_update () {
    YAHOO.util.Dom.removeClass(document.getElementById('path_name_edit'), 'ui_hidden');
    YAHOO.util.Dom.addClass(document.getElementById('path_desc_raw'), 'ui_hidden');
    YAHOO.util.Dom.removeClass(document.getElementById('path_desc_edit'), 'ui_hidden');
    YAHOO.util.Dom.removeClass(document.getElementById('path_update'), 'ui_hidden');
    YAHOO.util.Dom.addClass(document.getElementById('update_link'), 'ui_hidden');
    YAHOO.util.Dom.removeClass(document.getElementById('path_desc_json'), 'ui_hidden');
  }
  // -->
  </script>
[% END %]


<h3 id="doc_add" class="ui_clickable">Add new [% terms.document %] to this [% terms.path %]</h3>
<script type="text/javascript">
  var doc_add_disp = function() { tweak_ToggleClass('doc_add', 'ui_hidden'); }
  YAHOO.util.Event.on('doc_add', 'click', doc_add_disp);
</script>

<div class="doc_add">
<form action="docadd.cgi" method="POST" enctype="multipart/form-data">
  [% PROCESS global/formopt.html.tmpl %]
  <ul>
    <li>Name of new [% terms.document %]: <tt>[% full_path FILTER html %]</tt><input type="text" name="filename" value="" size="50"></li>
    <li>Description of new [% terms.document %]: <input type="text" name="docdesc" value="" size="150"></li>
  </ul>
  <h4>Label for new [% terms.document %]</h4>
  <ul>
    [% FOREACH item = Label.keys %]
      <li><input type="checkbox" name="label" value="[% item %]" />
        [% Label.$item.name %] ([% Label.$item.description %])</li>
    [% END %]
  </ul>
  [% INCLUDE entry/docform.html.tmpl %]
  <input type="hidden" name="pid" value="[% pid %]">
  <input type="submit" value="Add new [% terms.document %]">
  <input type="reset" value="Reset">
</form>
</div>
<script type="text/javascript">
  tweak_ToggleClass('doc_add', 'ui_hidden');
</script>

[% PROCESS entry/diradd.html.tmpl      cur_pid = pid %]

[% PROCESS global/footer.html.tmpl %]
