[% PROCESS global/header.html.tmpl
  current_page = "pathinfo"
  page_title = "Information of $terms.path - $full_path"
  javascript = "table_sort.js"
%]

<h3>Current information for [% terms.path %] ([% full_path %])</h3>

[% IF pid == 0 %]
  [% INCLUDE entry/table.html.tmpl       upper_path = -1
                                         paths = spath_list  docs = doc_list cpname = '' 
                                       def_popup = 1
  %]
[% ELSE %]
  [% INCLUDE entry/table.html.tmpl       upper_path = path_info.parent
                                         paths = spath_list  docs = doc_list cpname = full_path 
                                       def_popup = 1
  %]
[% END %]

[% IF pid != 0 %]
  <form method="POST" action="pathinfo.cgi">
  [% PROCESS global/formopt.html.tmpl %]
  <ul>
    <li id="path_name_edit" class="ui_hidden">Move/Change this [% terms.path %] to: 
      <select name="new_parent" onChange="AllPathChange();">
      [% INCLUDE entry/pathlist.html.tmpl  pidsel = path_info.parent %]
      </select>/<input type="text" name="new_name" size="50" value="[% path_info.pathname FILTER html %]"></li>
    <li>[% terms.path %] information: [% path_info.show_description FILTER html %]
      [% IF Admin %]
        <span id="update_link"><a href="javascript: doc_info_update();">Update or Move</a></span>
      [% END %]</li>
    <li>Group restrictions (OR): 
      [% IF path_info.gname.size > 0 %][% path_info.gname.join(', ') %]
      [% ELSE %](undefined)[% END %]</li>
  </ul>
  <div id="path_desc_raw" class="markdown">[% path_info.description FILTER markdown %]</div>
  <div id="path_desc_edit" class="ui_hidden">(in markdown format)<br /><textarea name="new_description" rows="10" cols="150">[% path_info.description FILTER html %]</textarea></div>
  <div id="path_update" class="ui_hidden">
    <input type="submit" value="Update">
  </div>
  <input type="hidden" name="pid" value="[% path_info.pathid %]">
  <input type="hidden" name="old_name" value="[% path_info.pathname FILTER html %]">
  <input type="hidden" name="old_parent" value="[% path_info.parent FILTER html %]">
  <input type="hidden" name="old_description" value="[% path_info.description FILTER html %]">
  </form>

  <ul id="path_desc_json" class="ui_hidden">
    <li>Target [% terms.path %] information: 
      <a id="hidurl" href="pathinfo.cgi?pid=[% path_info.pathid FILTER html %]"><span id="fullpath">[% full_path FILTER html %]</span> (<span id="hid">[% path_info.pathid FILTER html %]</span>)</a> - <span id="desc">[% path_info.short_description FILTER html %]</span></li>
    <li>Group restriction: 
      [% IF group_list.size > 0 %][% group_list.join(', ') %]
      [% ELSE %](undefined)[% END %]</li>
  </ul>
  <script type="text/javascript" src="json.cgi?format=js&amp;type=allpath"></script>
  <script type="text/javascript"><!--
    AllPathChange();
  --></script>

  <script type="text/javascript">
  <!--
  function doc_info_update () {
    \$("#path_name_edit").removeClass("ui_hidden");
    \$("#path_desc_raw").addClass("ui_hidden");
    \$("#path_desc_edit").removeClass("ui_hidden");
    \$("#path_update").removeClass("ui_hidden");
    \$("#update_link").addClass("ui_hidden");
    \$("#path_desc_json").removeClass("ui_hidden");
  }
  // -->
  </script>
[% END %]


<h3 id="doc_add" class="ui_clickable">Add new [% terms.document %] to this [% terms.path %]</h3>
<script type="text/javascript">
  \$("#doc_add").click(function(event) {tweak_ToggleClass('doc_add', 'ui_hidden'); });
</script>

<div class="doc_add">
<form action="docadd.cgi" method="POST" enctype="multipart/form-data">
  [% PROCESS global/formopt.html.tmpl %]
  [% INCLUDE entry/docform.html.tmpl   pid = pid %]
  <input type="submit" value="Add new [% terms.document %]">
  <input type="reset" value="Reset">
</form>
</div>
<script type="text/javascript">
  tweak_ToggleClass('doc_add', 'ui_hidden');
</script>

[% PROCESS entry/diradd.html.tmpl      cur_pid = pid %]

[% PROCESS global/footer.html.tmpl %]
