[% PROCESS global/header.html.tmpl
  current_page = "recent"
  page_title = "Recently updated $terms.document"
%]

<h3>Recently updated [% terms.document %]</h3>

[% INCLUDE entry/table.html.tmpl       docs = recent 
                                       def_popup = 1
  %]


[% PROCESS global/footer.html.tmpl %]
