[% PROCESS global/header.html.tmpl
  current_page = "zipadd"
  page_title = "Check attribute configuration for zipadd"
  javascript = "table_sort.js"
%]

<p>Parsed list of attributes is shown in table below.</p>

<table class="dirlist tablesorter">
<tr>
  <th>File name</th>
  <th>DateTime</th>
  <th>Uploader</th>
  <th>File description</th>
  <th>Document description</th>
  <th>Security flag</th>
  <th>Version</th>
</tr>
[% FOREACH item IN config %]
<tr>
  <td>[% item.filename %]</td>
  <td>[% IF item.uptime.defined %][% item.uptime %][% ELSE %](undefined)[% END %]</td>
  <td>[% IF item.uname.defined %][% item.uname %][% ELSE %](undefined)[% END %]</td>
  <td>[% IF item.filedesc.defined %][% item.filedesc %][% ELSE %](undefined)[% END %]</td>
  <td>[% IF item.docdesc.defined %][% item.docdesc %][% ELSE %](undefined)[% END %]</td>
  <td>[% IF item.secure.defined %][% item.secure %][% ELSE %](undefined)[% END %]</td>
  <td>[% IF item.version.defined %][% item.version %][% ELSE %](undefined)[% END %]</td>
</tr>
[% END %]
</table>

<p>If you are fine with a list above, please proceed to register files.<br />
Or you can <a href="javascript: history.back()">back to file upload page</a> 
to try another configuration file. Select <tt>[% dav FILTER html %]</tt> 
in drop down of WebDAV files for retry, not to upload archive (zip) file 
twice.</p>

<form action="zipadd.cgi" method="POST">
<input type="hidden" name="pid" value="[% pid %]">
[% INCLUDE global/formopt.html.tmpl %]
<input type="hidden" name="source" value="dav" />
<input type="hidden" name="dav_source" value="[% dav FILTER html %]" />
<input type="hidden" name="config_format" value="dav" />
<input type="submit" />
</form>

[% PROCESS global/footer.html.tmpl %]
