[% PROCESS global/header.html.tmpl
  current_page = "zipadd"
  page_title = "Uploaded files via archive"
  javascript = "table_sort.js"
%]

[% IF mode == 'upload' %]
<h3>Upload files to [% terms.path %] "/[% full_path %]"</h3>
<form action="zipadd.cgi" method="POST" enctype="multipart/form-data">
<input type="hidden" name="pid" value="[% pid %]">
[% INCLUDE global/formopt.html.tmpl %]

<h4>Archive file to use</h4>
<p>
  <label><input type="radio" name="source" value="upload" checked="checked" /> Upload from local file: </label>
  <input type="file" name="target_file" size="80" />
  <br />
  If you try to upload a large file like over than 10MB, system sometimes cause 
  timeout depending on the conditions of network or server. 
  [% IF Param.dav_uri != "" %]
    If you get timeout, please try to upload into 
    <a href="[% Param.dav_uri %]">WebDAV</a>
    space first, and 
    select the file from selection below with checking on the check box below.
    (<a href="http://www.google.co.jp/search?q=webdav">About WebDAV</a>)
  [% END %]
</p>

[% IF dav_file.defined && Param.dav_uri != "" %]
  <p>
    [% IF dav_file.keys.size == 0 %]
      No file in the WebDAV space.
    [% ELSE %]
      <label><input type="radio" name="source" value="dav" /> Use file in the WebDAV space :</label>
      <select name="dav_source">
        [% FOREACH item IN dav_file.keys %]
          <option value="[% item %]">[% item %] ([% SizeDisp(dav_file.$item) %])</option>
        [% END %]
      </select>
    [% END %]
  </p>
[% END %]

<h4>Attribute configuration file for archive to be uploaded</h4>
<p>You can attach one file to configure attributes for [% terms.document %] / 
[% terms.file %] in the archive file to be uploaded. Format is selectable 
from Tab Separated Values (TSV) or JSON format, and their data definitions 
and configurable pairs of key/value are descripbed below.</p>

<h5>Configurable key/value</h5>

<dl>
  <dt>filename</dt>
  <dd>(REQUIRED) Full file name including both full path from root of archive 
    and file extension.</dd>
  <dt>uptime</dt>
  <dd>Upload time (if not specified, system will use timestamp from one of 
    archive) in POSIX time</dd>
  <dt>uname</dt>
  <dd>Creator of file</dd>
  <dt>filedesc</dt>
  <dd>Description of the [% terms.file %]</dd>
  <dt>version</dt>
  <dd>Version number of the [% terms.file %]</dd>
  <dt>docdesc</dt>
  <dd>Description of the [% terms.document %] to be added into, will be 
    overrided if existed. If more than two files with different extensions 
    are included in an uploaded archive, specify the same description or 
    left blank for second and after.</dd>
  <dt>secure</dt>
  <dd>Security flag to be set or not (1: to set)</dd>
</dl>

<p>Key <tt>docdesc</tt> and <tt>secure</tt> are parameters for 
[% terms.document %], so will only be used when adding NEW [% terms.document %] 
only. If you have multiple [% terms.file %] to be registered into the same new 
[% terms.document %] with different file extensions, put the same value or 
left ones after second as null.</p> 

<h5>Format of configuration file</h5>
<ul>
  <li><label><input type="radio" name="config_format" value="tsv" 
    checked="checked">: 
    Tab separated formatted file (TSV), first line shall ccontain list of keys 
    (e.g. <tt>filename</tt>), and contain one line per one file from second 
    row. Lines with small number of values are just ignored.</label></li>
  <li><label><input type="radio" name="config_format" value="json">: 
    JSON format, which has an array of hashes with keys of field name and 
    values of configurations.</label></li>
</ul>

<h5>Configuration file</h5>
<p>Specify a configuration file to upload (this section will not be effective 
if no file is selected): 
<input type="file" name="target_config" /></p>

<h5>Confirmation on attribute configuration file</h5>
<p>You can check parsed results of uploaded configuration file on attributes, 
before actual processing of [% terms.file %] in an uploaded archive. 
Please check below if you want.<br />
<label><input type="checkbox" name="config_confirm"> Check parsed results 
after upload</label></p>

<input type="submit" />
<input type="reset" />
</form>
[% ELSIF mode == 'result' %]
<h3>Uploaded files to [% terms.path %] "/[% full_path %]"</h3>
[% IF up_succ.size > 0 %]
<h4>List of succeeded files</h4>
<table class="dirlist tablesorter">
<tr>
  <th>[% terms.document %] name</th>
  <th>Extension</th>
  <th>[% terms.document %] ID</th>
  <th>[% terms.file %] ID</th>
  <th>Last modified</th>
  <th>Version</th>
  <th>Size</th>
</tr>
[% FOREACH item IN up_succ %]
<tr>
  <td>[% full_path %][% item.storename %]</td>
  <td>[% item.ext %]</td>
  <td>[% item.did %]</td>
  <td>[% item.fid %]</td>
  <td>[% item.lastmodified %]</td>
  <td>[% item.version %]</td>
  <td>[% SizeDisp(item.size) %]</td>
</tr>
[% END %]
</table>
[% END %]

[% IF up_fail.size > 0 %]
<h4>List of failed files</h4>
<table class="dirlist tablesorter">
<tr>
  <th>[% terms.path %] or [% terms.document %]</th>
  <th>Name in archive</th>
  <th>Last modified</th>
  <th>Size</th>
  <th>Error</th>
</tr>
[% FOREACH item IN up_fail %]
<tr>
  <td>[% IF item.mode == 'path' %][% terms.path %][% ELSE %][% terms.document %][% END %]</td>
  <td>[% item.fullname %]</td>
  <td>[% IF item.mode == 'doc' %][% item.lastmodified %][% END %]</td>
  <td>[% IF item.mode == 'doc' %][% SizeDisp(item.size) %][% END %]</td>
  <td>[% IF item.error == 'invalid_encoding' %]Name in invalid encoding[% 
      ELSIF item.error == 'in_invalid_path' %]In invalid [% terms.path %] name[%
      ELSIF item.error == 'invalid_path' %]Invalid [% terms.path %] name[%
      ELSIF item.error == 'path_db_doc' %][% terms.path %] or [% terms.document %] in the same name already exist[%
      ELSIF item.error == 'invalid_doc' %]Invalid [% terms.document %] name[%
      ELSIF item.error == 'fail_add_file' %]Adding [% terms.file %] to [% terms.document %] failed[%
      ELSIF item.error == 'fail_store_file' %]Failed on storing [% terms.file %][%
      ELSE %][% item.error %][% END %]</td>
</tr>
[% END %]
</table>
[% END %]

[% ELSE %]
<h3>Unknown operation</h3>
[% END %]

[% PROCESS global/footer.html.tmpl %]
