[% PROCESS global/header.html.tmpl
  current_page = "zipadd"
  page_title = "Uploaded files via archive"
  javascript = "table_sort.js"
%]

[% IF mode == 'upload' %]
<h3>Upload files to [% terms.path %] "/[% full_path %]"</h3>
<form action="zipadd.cgi" method="POST" enctype="multipart/form-data">
<input type="hidden" name="pid" value="[% pid %]"></li>
<p>
  <label><input type="radio" name="source" value="upload" checked="checked" /> Upload from local file: </label>
  <input type="file" name="target_file" size="80" />
  <br />
  If you try to upload a large file like over than 10MB, system sometimes cause 
  timeout depending on the conditions of network or server. 
  [% IF Param.dav_uri != "" %]
    If you get timeout, please try to upload into 
    <a href="[% Param.dav_uri %]">WebDAV</a>
    space first, and 
    select the file from selection below with checking on the check box below.
    (<a href="http://www.google.co.jp/search?q=webdav">About WebDAV</a>)
  [% END %]
</p>

[% IF dav_file.defined && Param.dav_uri != "" %]
  <p>
    [% IF dav_file.keys.size == 0 %]
      No file in the WebDAV space.
    [% ELSE %]
      <label><input type="radio" name="source" value="dav" /> Use file in the WebDAV space :</label>
      <select name="dav_source">
        [% FOREACH item IN dav_file.keys %]
          <option value="[% item %]">[% item %] ([% SizeDisp(dav_file.$item) %])</option>
        [% END %]
      </select>
    [% END %]
  </p>
[% END %]

<input type="submit" />
</form>
[% ELSIF mode == 'result' %]
<h3>Uploaded files to [% terms.path %] "/[% full_path %]"</h3>
[% IF up_succ.size > 0 %]
<h4>List of succeeded files</h4>
<table class="dirlist tablesorter">
<tr>
  <th>[% terms.document %] name</th>
  <th>Extension</th>
  <th>[% terms.document %] ID</th>
  <th>[% terms.file %] ID</th>
  <th>Last modified</th>
  <th>Version</th>
  <th>Size</th>
</tr>
[% FOREACH item IN up_succ %]
<tr>
  <td>[% full_path %][% item.storename %]</td>
  <td>[% item.ext %]</td>
  <td>[% item.did %]</td>
  <td>[% item.fid %]</td>
  <td>[% item.lastmodified %]</td>
  <td>[% item.version %]</td>
  <td>[% SizeDisp(item.size) %]</td>
</tr>
[% END %]
</table>
[% END %]

[% IF up_fail.size > 0 %]
<h4>List of failed files</h4>
<table class="dirlist tablesorter">
<tr>
  <th>[% terms.path %] or [% terms.document %]</th>
  <th>Name in archive</th>
  <th>Last modified</th>
  <th>Size</th>
  <th>Error</th>
</tr>
[% FOREACH item IN up_fail %]
<tr>
  <td>[% IF item.mode == 'path' %][% terms.path %][% ELSE %][% terms.document %][% END %]</td>
  <td>[% item.fullname %]</td>
  <td>[% IF item.mode == 'doc' %][% item.lastmodified %][% END %]</td>
  <td>[% IF item.mode == 'doc' %][% SizeDisp(item.size) %][% END %]</td>
  <td>[% IF item.error == 'invalid_encoding' %]Name in invalid encoding[% 
      ELSIF item.error == 'in_invalid_path' %]In invalid [% terms.path %] name[%
      ELSIF item.error == 'invalid_path' %]Invalid [% terms.path %] name[%
      ELSIF item.error == 'path_db_doc' %][% terms.path %] or [% terms.document %] in the same name already exist[%
      ELSIF item.error == 'invalid_doc' %]Invalid [% terms.document %] name[%
      ELSIF item.error == 'fail_add_file' %]Adding [% terms.file %] to [% terms.document %] failed[%
      ELSIF item.error == 'fail_store_file' %]Failed on storing [% terms.file %][%
      ELSE %][% item.error %][% END %]</td>
</tr>
[% END %]
</table>
[% END %]

[% ELSE %]
<h3>Unknown operation</h3>
[% END %]

[% PROCESS global/footer.html.tmpl %]
